<section class="wrap wrap--offer" id="offer">
  <div class="container">
    <div class="offer">

      <!-- <div class="offer__sale sale">
        <div class="sale__cover">
          <div class="sale__text">winter sale -40%</div>
          <div class="sale__text">winter sale -40%</div>
          <div class="sale__text">winter sale -40%</div>
          <div class="sale__text">winter sale -40%</div>
          <div class="sale__text">winter sale -40%</div>
          <div class="sale__text">winter sale -40%</div>
        </div>
      </div> -->
      <div class="offer__title title-section">
        <h2 class="title-section__head title-section__head--blue title-section__head--left">1. Choose a appropriate
          course</h2>
        <!-- <p class="title-section__text">more precisely, there are several of them</p> -->
      </div>

      <div class="offer__currency">
        <div class="currency">
          <button type="button" class="currency__btn  currency__btn--current currency__btn--usd"> $</button>
          <button type="button" class="currency__btn  currency__btn--rub"> ₽</button>
          <button type="button" class="currency__btn  currency__btn--eur"> €</button>
        </div>
      </div>

      <ul class="offer__list">

        <li class="offer-item">
          <div class="offer-item__title offer-i-head offer-i-head--top">
            <h3 class="offer-i-head__text">Macarons. Shells and fillings</h3>
            <div class="offer-i-head__cost costs">
              <div class="costs__label">
                <span class="costs__text">price</span>
                <div class="costs__box costs__box--left">
                  {% for item in priceNormal %}
                  <span class="costs__item">{{ item.helpUsd }} $</span>
                  <span class="costs__item">{{ item.helpRub }} ₽</span>
                  <span class="costs__item">{{ item.helpEur }} €</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="offer-item__btn offer-item__btn--1"
            aria-label="Show (hide) a list of what it includes"></button>
          <div class="offer-item__body">
            <!-- <div class="offer-item__buy buy">
              <a href="#payment-block" class="buy__link">Payment</a>
            </div> -->
            <ol class="offer-item__list">
              <li class="offer-item__item">Technical card with a detailed description of the entire process of making
                macarons. Italian meringue with reduced sugar content. PDF file on 20 pages.
              </li>
              <li class="offer-item__item">A guide to buying basic inventory and products on Amazon online store.</li>
              <li class="offer-item__item">Templates for baking shells.</li>
              <li class="offer-item__item">Technical card with a detailed description of the process of preparing
                fillings of different flavors. PDF file on 20 pages.
              </li>
              <li class="offer-item__item">Video of the whole process of making macarons.</li>
              <li class="offer-item__item">Video of the preparation of various basic fillings..</li>
              <li class="offer-item__item">Video on how to make macarons painting and video how to make
                curly macarons.</li>
              <li class="offer-item__item">Excel table for calculating the cost of consumable products.</li>
              <li class="offer-item__item">My secret ingredient with which you will definitely be able to get macarons
                to the level of sales.</li>
              <li class="offer-item__item offer-item__item--slider lider-offer">
                <ul class="slider-offer__list sliderAllEn">
                  {% for item in sliderAllEn %}
                  <li class="slider-offer__item">
                    <picture class="slider-offer__picture">
                      <source srcset="img/{{ item.img }}.webp" type="image/webp">
                      <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img" height="200">
                    </picture>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </ol>
          </div>
        </li>
        <li class="offer-item">
          <div class="offer-item__title offer-i-head">
            <h3 class="offer-i-head__text">Only Shells</h3>
            <div class="offer-i-head__cost costs">
              <div class="costs__label">
                <span class="costs__text">price</span>
                <div class="costs__box costs__box--left">
                  {% for item in priceNormal %}
                  <span class="costs__item">{{ item.partUsd }} $</span>
                  <span class="costs__item">{{ item.partRub }} ₽</span>
                  <span class="costs__item">{{ item.partEur }} €</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="offer-item__btn" aria-label="Show (hide) a list of what it includes"></button>
          <div class="offer-item__body">
            <!-- <div class="offer-item__buy buy">
              <a href="#payment-block" class="buy__link">Payment</a>
            </div> -->
            <ol class="offer-item__list">
              <li class="offer-item__item">Technical card with a detailed description of the entire process of making
                macarons. Italian meringue with reduced sugar content. PDF file on 20 pages.
              </li>
              <li class="offer-item__item">A guide to buying basic inventory and products on Amazon online store.</li>
              <li class="offer-item__item">Templates for baking shells.</li>
              <li class="offer-item__item">Video of the whole process of making macarons.</li>
              <li class="offer-item__item">My secret ingredient with which you will definitely be able to get macarons
                to the level of sales.</li>
              <li class="offer-item__item offer-item__item--slider slider-offer">
                <ul class="slider-offer__list sliderOfferShellsEn">
                  {% for item in sliderOfferShells %}
                  <li class="slider-offer__item">
                    <picture class="slider-offer__picture">
                      <source srcset="img/{{ item.img }}.webp" type="image/webp">
                      <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img" height="200">
                    </picture>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </ol>
          </div>
        </li>
        <li class="offer-item">
          <div class="offer-item__title offer-i-head">
            <h3 class="offer-i-head__text">Only fillings</h3>
            <div class="offer-i-head__cost costs">
              <div class="costs__label">
                <span class="costs__text">price</span>
                <div class="costs__box costs__box--left">
                  {% for item in priceNormal %}
                  <span class="costs__item">{{ item.partUsd }} $</span>
                  <span class="costs__item">{{ item.partRub }} ₽</span>
                  <span class="costs__item">{{ item.partEur }} €</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="offer-item__btn" aria-label="Show (hide) a list of what it includes"></button>
          <div class="offer-item__body">
            <!-- <div class="offer-item__buy buy">
              <a href="#payment-block" class="buy__link">Payment</a>
            </div> -->
            <ol class="offer-item__list">
              <li class="offer-item__item">Technical card with a detailed description of the process of preparing
                fillings of different flavors. PDF file on 20 pages.
              </li>
              <li class="offer-item__item">Ganache on white chocolate.</li>
              <li class="offer-item__item">Milk chocolate ganache.</li>
              <li class="offer-item__item">Dark chocolate ganache.</li>
              <li class="offer-item__item">Fruit and berry ganache: strawberries, blueberries, currants, mangoes, etc.
              </li>
              <li class="offer-item__item">Whipped ganache "Gingerbread Latte" or "Cappuccino".</li>
              <li class="offer-item__item">Whipped ganache "Double coconut" or "Bounty"</li>
              <li class="offer-item__item">Milk chocolate ganache "Oreo".</li>
              <li class="offer-item__item">Ganache on orange chocolate.</li>
              <li class="offer-item__item">"Pistachio-raspberry" on white chocolate</li>
              <li class="offer-item__item">Filling "Cherry in chocolate".</li>
              <li class="offer-item__item">Filling "Spicy apple".</li>
              <li class="offer-item__item">Filling "Snickers with salted caramel".</li>
              <li class="offer-item__item">Brie Pear Ganache.</li>
              <li class="offer-item__item">Flavor options: mint, lavender, lemon, vanilla.</li>

              <li class="offer-item__item">Video of the preparation of various basic fillings.</li>
              <li class="offer-item__item offer-item__item--slider slider-offer">
                <ul class="slider-offer__list sliderOfferCreamEn">
                  {% for item in sliderOfferCreamEn %}
                  <li class="slider-offer__item">
                    <picture class="slider-offer__picture">
                      <source srcset="img/{{ item.img }}.webp" type="image/webp">
                      <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img" height="200">
                    </picture>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>