<section class="wrap wrap--offer" id="offer">
  <div class="container">
    <div class="offer">
      <div class="offer__title title-section">
        <h2 class="title-section__head title-section__head--blue">My suggestion</h2>
        <p class="title-section__text">more precisely, there are several of them</p>
      </div>
      <div class="offer__currency">
        <div class="currency">
          <button type="button" class="currency__btn  currency__btn--current currency__btn--usd"> $</button>
          <button type="button" class="currency__btn  currency__btn--rub"> ₽</button>
          <button type="button" class="currency__btn  currency__btn--eur"> €</button>
        </div>
      </div>
      <ul class="offer__list">
        <li class="offer-item">
          <div class="offer-item__title offer-i-head offer-i-head--top">
            <h3 class="offer-i-head__text">Macarons. Shells and fillings</h3>
            <div class="offer-i-head__cost costs">
              <div class="costs__label">
                <span class="costs__text">price</span>
                <div class="costs__box costs__box--left">
                  <span class="costs__item">95 $</span>
                  <span class="costs__item">5500 ₽</span>
                  <span class="costs__item">95 €</span>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="offer-item__btn offer-item__btn--1"
            aria-label="Show (hide) a list of what it includes"></button>
          <div class="offer-item__body">
            <div class="offer-item__buy buy">
              <a href="#payment-block" class="buy__link">Payment</a>
            </div>
            <ol class="offer-item__list">
              <li class="offer-item__item">Technical card with a detailed description of the entire process of making
                macarons. Italian meringue with reduced sugar content. PDF file on 20 pages.
              </li>
              <li class="offer-item__item">A guide to buying basic inventory and products on Amazon online store.</li>
              <li class="offer-item__item">Templates for baking shells.</li>
              <li class="offer-item__item">Technical card with a detailed description of the process of preparing
                fillings of different flavors. PDF file on 20 pages.
              </li>
              <li class="offer-item__item">Video of the whole process of making macarons.</li>
              <li class="offer-item__item">Video of the preparation of various basic fillings..</li>
              <li class="offer-item__item">Video on how to make macarons painting and video how to make
                curly macarons.</li>
              <li class="offer-item__item">Excel table for calculating the cost of consumable products.</li>
              <li class="offer-item__item">My secret ingredient with which you will definitely be able to get macarons
                to the level of sales.</li>
              <li class="offer-item__item offer-item__item--slider lider-offer">
                <ul class="slider-offer__list sliderAllEn">
                  {% for item in sliderAllEn %}
                  <li class="slider-offer__item">
                    <picture class="slider-offer__picture">
                      <source srcset="img/{{ item.img }}.webp" type="image/webp">
                      <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img" height="200">
                    </picture>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </ol>
          </div>
        </li>
        <li class="offer-item">
          <div class="offer-item__title offer-i-head">
            <h3 class="offer-i-head__text">Only Shells</h3>
            <div class="offer-i-head__cost costs">
              <div class="costs__label">
                <span class="costs__text">price</span>
                <div class="costs__box costs__box--left">
                  <span class="costs__item">50 $</span>
                  <span class="costs__item">3000 ₽</span>
                  <span class="costs__item">50 €</span>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="offer-item__btn" aria-label="Show (hide) a list of what it includes"></button>
          <div class="offer-item__body">
            <div class="offer-item__buy buy">
              <a href="#payment-block" class="buy__link">Payment</a>
            </div>
            <ol class="offer-item__list">
              <li class="offer-item__item">Technical card with a detailed description of the entire process of making
                macarons. Italian meringue with reduced sugar content. PDF file on 20 pages.
              </li>
              <li class="offer-item__item">A guide to buying basic inventory and products on Amazon online store.</li>
              <li class="offer-item__item">Templates for baking shells.</li>
              <li class="offer-item__item">Video of the whole process of making macarons.</li>
              <li class="offer-item__item">My secret ingredient with which you will definitely be able to get macarons
                to the level of sales.</li>
              <li class="offer-item__item offer-item__item--slider slider-offer">
                <ul class="slider-offer__list sliderOfferShellsEn">
                  {% for item in sliderOfferShells %}
                  <li class="slider-offer__item">
                    <picture class="slider-offer__picture">
                      <source srcset="img/{{ item.img }}.webp" type="image/webp">
                      <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img" height="200">
                    </picture>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </ol>
          </div>
        </li>
        <li class="offer-item">
          <div class="offer-item__title offer-i-head">
            <h3 class="offer-i-head__text">Only fillings</h3>
            <div class="offer-i-head__cost costs">
              <div class="costs__label">
                <span class="costs__text">price</span>
                <div class="costs__box costs__box--left">
                  <span class="costs__item">50 $</span>
                  <span class="costs__item">3000 ₽</span>
                  <span class="costs__item">50 €</span>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="offer-item__btn" aria-label="Show (hide) a list of what it includes"></button>
          <div class="offer-item__body">
            <div class="offer-item__buy buy">
              <a href="#payment-block" class="buy__link">Payment</a>
            </div>
            <ol class="offer-item__list">
              <li class="offer-item__item">Technical card with a detailed description of the process of preparing
                fillings of different flavors. PDF file on 20 pages.
              </li>
              <li class="offer-item__item">Ganache on white chocolate.</li>
              <li class="offer-item__item">Milk chocolate ganache.</li>
              <li class="offer-item__item">Dark chocolate ganache.</li>
              <li class="offer-item__item">Fruit and berry ganache.</li>
              <li class="offer-item__item">Whipped cream ganache.</li>
              <li class="offer-item__item">Whipped ganache Gingerbread Latte.</li>
              <li class="offer-item__item">Brie Pear Ganache.</li>
              <li class="offer-item__item">Filling "Cherry in chocolate".</li>
              <li class="offer-item__item">Filling "Spicy apple".</li>
              <li class="offer-item__item">Filling "Snickers with salted caramel".</li>
              <li class="offer-item__item">Flavor options: pistachios, coconut, mint, lavender, vanilla.</li>
              <li class="offer-item__item">Video of the preparation of various basic fillings.</li>
              <li class="offer-item__item offer-item__item--slider slider-offer">
                <ul class="slider-offer__list sliderOfferCreamEn">
                  {% for item in sliderOfferCreamEn %}
                  <li class="slider-offer__item">
                    <picture class="slider-offer__picture">
                      <source srcset="img/{{ item.img }}.webp" type="image/webp">
                      <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img" height="200">
                    </picture>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </ol>
          </div>
        </li>
      </ul>
      <ul class="offer__social social">
        <li class="social__item">
          <a href="https://t.me/macaron_by_elena" class="social__link" aria-label="Link to telegram.">
            {{ imagePng('social__picture', 'telegramm', 'social__img', 'Link to telegram.', '65', '65') }}
          </a>
        </li>
        <li class="social__item">
          <a href="whatsapp://send?phone=+37253907063" class="social__link" aria-label="Link to whatsapp.">
            {{ imagePng('social__picture', 'whatsapp', 'social__img', 'Link to whatsapp.', '65', '65') }}
          </a>
        </li>
        <li class="social__item">
          <a href="https://www.instagram.com/macaron_by_elena" class="social__link" aria-label="Link to instagram.">
            {{ imagePng('social__picture', 'instagram', 'social__img', 'Link to instagram.', '65', '65') }}
          </a>
        </li>
      </ul>
      <p class="offer__text">Write to me if you have any questions about the course or if you are not sure which
        payment method to choose.</p>
      <h3 class="offer__text offer__text--payment">Payment Methods</h3>
      <ul class="offer__payment payment">
        <li class="payment__item">
          <div class="payment__title">
            <div class="payment__logo">Russia Federation</div>
            <div class="payment__head payment__head--tinkof">Transfer to Tinkoff Bank from a card or via "Faster
              Payments System"</div>
          </div>
          <button type="button" class="payment__btn" aria-label="Show (hide) a list of what it includes"></button>
          <div class="payment__description p-description">
            <a href="https://www.tinkoff.ru/rm/pronina.elena14/YlldH91188" class="p-description__link"
              aria-label="Link to payment in Tinkoff.">
              {{ imagePng('p-description__picture', 'qr-tinkof', 'p-description__img', 'QR-code payment link',
              '300', '300') }}
            </a>
            <div class="p-description__block">
              <p class="p-description__text">To translate using FPS<br> (Elena P):<br> <span
                  class="p-description__copy">+7 (995)
                  885-06-43</span></p>
              <p class="p-description__text">To transfer from card to card (Mastercard):<br> <span
                  class="p-description__copy">5536
                  9140 4444 1479</span></p>
            </div>
          </div>
        </li>
        <li class="payment__item">
          <div class="payment__title">
            <div class="payment__logo">USA, Europe</div>
            <div class="payment__head payment__head--ziraat">Bank transfer by IBAN number.</div>
          </div>
          <button type="button" class="payment__btn" aria-label="Show (hide) a list of what it includes"></button>
          <div class="payment__description p-description">
            <div class="p-description__link">
              {{ imagePng('p-description__picture', 'wise', 'p-description__img', 'Wise logo',
              '300', '146') }}
            </div>
            <div class="p-description__block">
              <p class="p-description__text">I am using Wise to receive US dollar payments. You can send money to
                these details from any bank in the US.<br>
                <span class="p-description__copy">Account holder: ELENA PRONINA</span><br>
                <span class="p-description__copy">Routing number: 084009519</span><br>
                <span class="p-description__copy">Account number: 9600005561035231</span><br>
                <span class="p-description__copy">Account type: Checking</span><br>
                <span class="p-description__copy">Wise`s address: 30W.26th Street, Sixth Floor. New York NY 10010.
                  United
                  States</span>
              </p>
              <p class="p-description__text">I am using Wise to receive euro payments. You can send money to these
                details from any bank in the Eurozone.<br>
                <span class="p-description__copy">Account holder: ELENA PRONINA</span><br>
                <span class="p-description__copy">BIC: TRWIBEB1XXX</span><br>
                <span class="p-description__copy">IBAN: BE28 9673 3733 2620</span><br>
                <span class="p-description__copy">Wise's address: Avenue Louise 54, Room S52. Brussels, 1050.
                  Belgium</span>
              </p>
              <p class="p-description__text">I am using Wise to receive Turkish lira payments. You can send money to
                these details from any bank in Turkey.<br>
                <span class="p-description__copy">Account holder: ELENA PRONINA</span><br>
                <span class="p-description__copy">IBAN: TR55 0010 3000 0000 0045 8214 58</span>
              </p>
            </div>
          </div>
        </li>
        <li class="payment__item">
          <div class="payment__title">
            <div class="payment__logo">Money transfer</div>
            <div class="payment__head payment__head--money">Transfer using a money transfer system</div>
          </div>
          <button type="button" class="payment__btn" aria-label="Show (hide) a list of what it includes"></button>
          <div class="payment__description p-description">
            <div class="p-description__link">
              {{ imagePng('p-description__logo', 'change', 'p-description__img', 'Money transfer logo',
              '250',
              '100') }}
            </div>
            <div class="p-description__block">
              <p class="p-description__text">Information for money transfer: <br>
                <span class="p-description__copy"> Turkey, Antalya, Elena Pronina</span>
                <span class="p-description__copy">+90 (551) 841-32-23</span>
                <span class="p-description__copy">amaillien@gmail.com</span>
              </p>
              <div class="p-description__logo">
                <a href="https://www.westernunion.com" class="p-description__logo-link">
                  {{ imagePng('p-description__picture', 'westernunion', 'p-description__image', 'WesternUnion logo',
                  '315', '100') }}
                </a>
                <a href="https://www.moneygram.com/mgo/us/en/" class="p-description__logo-link">
                  {{ imagePng('p-description__picture', 'monegr', 'p-description__image', 'MoneyGram logo',
                  '315', '100') }}
                </a>
                <a href="https://koronapay.com/" class="p-description__logo-link">
                  {{ imageSvgColor('zolotayakorona', 'svgcolor p-description__image', '250', '100', 'KoronaPay
                  logo') }}
                </a>
                <a class="p-description__logo-link" href="https://www.paypal.com/webapps/mpp/paypal-popup">
                  <img src="img/PayPal.svg" alt="Paypal logo" class="p-description__image">
                </a>
                <a href="https://wise.com/" class="p-description__logo-link">
                  {{ imagePng('p-description__picture', 'wise', 'p-description__image', 'Wise logo',
                  '600', '146') }}
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="offer__contact" id="payment-block">

      </div>
    </div>
  </div>
</section>