<section class="wrap wrap--offer" id="offer">
  <div class="container">
    <div class="offer">

      <!-- <div class="offer__sale sale">
        <div class="sale__cover">
          <div class="sale__text">winter sale -40%</div>
          <div class="sale__text">winter sale -40%</div>
          <div class="sale__text">winter sale -40%</div>
          <div class="sale__text">winter sale -40%</div>
          <div class="sale__text">winter sale -40%</div>
          <div class="sale__text">winter sale -40%</div>
        </div>
      </div> -->

      <div class="offer__title title-section">
        <h2 class="title-section__head title-section__head--blue title-section__head--left">1. Выберите подходящий курс
        </h2>
        <!-- <p class="title-section__text">точнее - их даже несколько</p> -->
      </div>

      <div class="offer__currency">
        <div class="currency">
          <button type="button" class="currency__btn  currency__btn--usd"> $</button>
          <button type="button" class="currency__btn  currency__btn--current currency__btn--rub"> ₽</button>
          <button type="button" class="currency__btn  currency__btn--eur"> €</button>
        </div>
      </div>

      <ul class="offer__list">

        <li class="offer-item">
          <div class="offer-item__title offer-i-head offer-i-head--top">
            <h3 class="offer-i-head__text">Макарон<br><span class="offer-i-head__text--gray">без обратной связи</span>
            </h3>
            <div class="offer-i-head__cost costs">
              <div class="costs__label">
                <span class="costs__text">цена</span>
                <div class="costs__box costs__box--center">
                  {% for item in priceNormal %}
                  <span class="costs__item">{{ item.macaronUsd }} $</span>
                  <span class="costs__item">{{ item.macaronRub }} ₽</span>
                  <span class="costs__item">{{ item.macaronEur }} €</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="offer-item__btn offer-item__btn--1"
            aria-label="Показать (скрыть) список того, что в это входит"></button>
          <div class="offer-item__body">
            <!-- <div class="offer-item__buy buy">
              <a href="#payment-block" class="buy__link">Оплатить курс</a>
            </div> -->
            <ol class="offer-item__list">
              <!-- <li class="offer-item__item">Тех. карта с подробным описанием всего процесса приготовления пирожных
                макарон, с
                рецептом крышечек на итальянской меренге с
                пониженным содержанием сахара. Файл PDF на 20 стр.
              </li>
              <li class="offer-item__item">Руководство по покупке инвентаря со ссылками на онлайн магазины.</li>
              <li class="offer-item__item">Трафареты для выпекания крышечек.</li>
              <li class="offer-item__item">Тех. карта с подробным описанием процесса приготовления начинок разных
                вкусов. Файл PDF
                на 20 стр.
              </li>
              <li class="offer-item__item">Видео всего процесса приготовления пирожных.</li>
              <li class="offer-item__item">Видео приготовления различных базовых начинок.</li>
              <li class="offer-item__item">Видео о том, как делать роспись и выпекать фигурные
                макарон.</li>
              <li class="offer-item__item">Excel таблица подсчета себестоимости расходуемых продуктов.</li>
              <li class="offer-item__item">Мой секретный ингредиент с которым у вас
                обязательно получится довести макарон до уровня
                продаж.</li>
              <li class="offer-item__item offer-item__item--slider slider-offer">
                <ul class="slider-offer__list sliderAllRu">
                  {% for item in sliderAllRu %}
                  <li class="slider-offer__item">
                    <picture class="slider-offer__picture">
                      <source srcset="img/{{ item.img }}.webp" type="image/webp">
                      <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img" height="200">
                    </picture>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </ol> -->
              <li class="offer-item">
                <div class="offer-item__title offer-i-head">
                  <h3 class="offer-i-head__text">Отдельно крышечки</h3>
                  <div class="offer-i-head__cost costs">
                    <div class="costs__label">
                      <span class="costs__text">цена</span>
                      <div class="costs__box costs__box--center">
                        {% for item in priceNormal %}
                        <span class="costs__item">{{ item.partUsd }} $</span>
                        <span class="costs__item">{{ item.partRub }} ₽</span>
                        <span class="costs__item">{{ item.partEur }} €</span>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="offer-item__btn"
                  aria-label="Показать (скрыть) список того, что в это входит"></button>
                <div class="offer-item__body">
                  <!-- <div class="offer-item__buy buy">
                    <a href="#payment-block" class="buy__link">Оплатить курс</a>
                  </div> -->
                  <ol class="offer-item__list">
                    <li class="offer-item__item offer-item__item--slider slider-offer">
                      <ul class="slider-offer__list sliderOfferShellsRu">
                        {% for item in sliderOfferShells %}
                        <li class="slider-offer__item">
                          <picture class="slider-offer__picture">
                            <source srcset="img/{{ item.img }}.webp" type="image/webp">
                            <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img"
                              height="200">
                          </picture>
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                    <li class="offer-item__item">Тех. карта с подробным описанием всего процесса приготовления пирожных
                      макарон, с
                      рецептом крышечек на итальянской меренге с
                      пониженным содержанием сахара. Файл PDF на 20 стр.
                    </li>
                    <li class="offer-item__item">Руководство по покупке инвентаря со ссылками на онлайн магазины.</li>
                    <li class="offer-item__item">Трафареты для выпекания крышечек.</li>
                    <li class="offer-item__item">Видео о том, как делать роспись и выпекать фигурные
                      макарон.</li>

                    <li class="offer-item__item">Мой секретный ингредиент с которым у вас
                      обязательно получится довести макарон до уровня
                      продаж.</li>

                  </ol>

                </div>

              </li>
              <li class="offer-item">
                <div class="offer-item__title offer-i-head">
                  <h3 class="offer-i-head__text">Отдельно начинки</h3>
                  <div class="offer-i-head__cost costs">
                    <div class="costs__label">
                      <span class="costs__text">цена</span>
                      <div class="costs__box costs__box--center">
                        {% for item in priceNormal %}
                        <span class="costs__item">{{ item.partUsd }} $</span>
                        <span class="costs__item">{{ item.partRub }} ₽</span>
                        <span class="costs__item">{{ item.partEur }} €</span>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="offer-item__btn"
                  aria-label="Показать (скрыть) список того, что в это входит"></button>
                <div class="offer-item__body">
                  <!-- <div class="offer-item__buy buy">
                    <a href="#payment-block" class="buy__link">Оплатить курс</a>
                  </div> -->
                  <ol class="offer-item__list">
                    <li class="offer-item__item offer-item__item--slider slider-offer">
                      <ul class="slider-offer__list sliderOfferCreamRu">
                        {% for item in sliderOfferCream %}
                        <li class="slider-offer__item">
                          <picture class="slider-offer__picture">
                            <source srcset="img/{{ item.img }}.webp" type="image/webp">
                            <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img"
                              height="200">
                          </picture>
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                    <li class="offer-item__item">Тех. карта с подробным описанием процесса приготовления начинок разных
                      вкусов. Файл PDF
                      на 20 стр.
                    </li>
                    <li class="offer-item__item">Ванильный ганаш на белом шоколаде.</li>
                    <li class="offer-item__item">Классический ганаш на молочном шоколаде.</li>
                    <li class="offer-item__item">Классический ганаш на тёмном шоколаде.</li>
                    <li class="offer-item__item">Фруктовый ягодный ганаш.</li>
                    <li class="offer-item__item">Взбитый ганаш на белом шоколаде.</li>
                    <li class="offer-item__item">Взбитый ганаш "Пряничное латте".</li>
                    <li class="offer-item__item">Начинка "Вишня в шоколаде".</li>
                    <li class="offer-item__item">Начинка "Пряное яблоко".</li>
                    <li class="offer-item__item">Начинка "Сникерс с солёной карамелью".</li>
                    <li class="offer-item__item">Начинка "Бри-Груша".</li>
                    <li class="offer-item__item">Варианты ароматизации: фисташками,
                      кокосом,
                      мятой, лавандой, ванилью.</li>
                    <li class="offer-item__item">Видео приготовления различных базовых начинок.</li>

                  </ol>

                </div>

              </li>

          </div>

        </li>
        <li class="offer-item">
          <div class="offer-item__title offer-i-head">
            <h3 class="offer-i-head__text">Макарон<br><span class="offer-i-head__text--green">c обратной связью</span>
            </h3>
            <div class="offer-i-head__cost costs">
              <div class="costs__label">
                <span class="costs__text">цена</span>
                <div class="costs__box costs__box--center">
                  {% for item in priceNormal %}
                  <span class="costs__item">{{ item.helpUsd }} $</span>
                  <span class="costs__item">{{ item.helpRub }} ₽</span>
                  <span class="costs__item">{{ item.helpEur }} €</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="offer-item__btn"
            aria-label="Показать (скрыть) список того, что в это входит"></button>
          <div class="offer-item__body">
            <!-- <div class="offer-item__buy buy">
              <a href="#payment-block" class="buy__link">Оплатить курс</a>
            </div> -->
            <ol class="offer-item__list">
              <li class="offer-item__item offer-item__item--slider slider-offer">
                <ul class="slider-offer__list sliderAllRu">
                  {% for item in sliderAllRu %}
                  <li class="slider-offer__item">
                    <picture class="slider-offer__picture">
                      <source srcset="img/{{ item.img }}.webp" type="image/webp">
                      <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img" height="200">
                    </picture>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              <li class="offer-item__item">Тех. карта с подробным описанием всего процесса приготовления пирожных
                макарон, с
                рецептом крышечек на итальянской меренге с
                пониженным содержанием сахара. Файл PDF на 20 стр.
              </li>
              <li class="offer-item__item">Руководство по покупке инвентаря со ссылками на онлайн магазины.</li>
              <li class="offer-item__item">Трафареты для выпекания крышечек.</li>
              <li class="offer-item__item">Тех. карта с подробным описанием процесса приготовления начинок разных
                вкусов. Файл PDF
                на 20 стр.
              </li>
              <li class="offer-item__item">Видео всего процесса приготовления пирожных.</li>
              <li class="offer-item__item">Видео приготовления различных базовых начинок.</li>
              <li class="offer-item__item">Видео о том, как делать роспись и выпекать фигурные
                макарон.</li>
              <li class="offer-item__item">Excel таблица подсчета себестоимости расходуемых продуктов.</li>
              <li class="offer-item__item">Мой секретный ингредиент с которым у вас
                обязательно получится довести макарон до уровня
                продаж.</li>
              <li class="offer-item__item">Консультация, ответы на
                вопросы, разбор ошибок, помощь в доведении до уровня продаж.</li>

            </ol>

          </div>

        </li>

        <li class="offer-item">
          <div class="offer-item__title offer-i-head">
            <h3 class="offer-i-head__text">Макарон и Эскимо-Чизкейк<br><span class="offer-i-head__text--green">c
                обратной связью</span></h3>
            <div class="offer-i-head__cost costs">
              <div class="costs__label">
                <span class="costs__text">цена</span>
                <div class="costs__box costs__box--center">
                  {% for item in priceNormal %}
                  <span class="costs__item">{{ item.allUsd }} $</span>
                  <span class="costs__item">{{ item.allRub }} ₽</span>
                  <span class="costs__item">{{ item.allEur }} €</span>
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>
          <button type="button" class="offer-item__btn"
            aria-label="Показать (скрыть) список того, что в это входит"></button>
          <div class="offer-item__body">
            <!-- <div class="offer-item__buy buy">
              <a href="#payment-block" class="buy__link">Оплатить курс</a>
            </div> -->
            <ol class="offer-item__list">

              <li class="offer-item__item">Все видео и PDF инструкции по приготовлению макарон и начинок.</li>
              <li class="offer-item__item">Видео и PDF инструкции по приготовлению эскимо-чизкейков.</li>
              <li class="offer-item__item">Консультация, ответы на
                вопросы, разбор ошибок, помощь в доведении до уровня продаж.
                {{ imageJpg('offer-item__picture', 'help', 'offer-item__img', 'Скриншот чата, где покупатель
                просит
                срочной помощи.', '250', '200') }}</li>
              <li class="offer-item">
                <div class="offer-item__title offer-i-head">
                  <h3 class="offer-i-head__text">Отдельно Эскимо - Чизкейк</h3>
                  <div class="offer-i-head__cost costs">
                    <div class="costs__label">
                      <span class="costs__text">цена</span>
                      <div class="costs__box costs__box--center">
                        {% for item in priceNormal %}
                        <span class="costs__item">{{ item.eskimoUsd }} $</span>
                        <span class="costs__item">{{ item.eskimoRub }} ₽</span>
                        <span class="costs__item">{{ item.eskimoEur }} €</span>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="offer-item__btn"
                  aria-label="Показать (скрыть) список того, что в это входит"></button>
                <div class="offer-item__body">
                  <!-- <div class="offer-item__buy buy">
                      <a href="#payment-block" class="buy__link">Оплатить курс</a>
                    </div> -->
                  <ol class="offer-item__list">
                    <li class="offer-item__item offer-item__item--slider slider-offer">
                      <ul class="slider-offer__list sliderOfferEskimo">
                        {% for item in sliderOfferEskimo %}
                        <li class="slider-offer__item">
                          <picture class="slider-offer__picture">
                            <source srcset="img/{{ item.img }}.webp" type="image/webp">
                            <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img"
                              height="200">
                          </picture>
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                    <li class="offer-item__item">Подробное описание процесса приготовления Эскимо-Чизкейк. Файл PDF
                      на 11 стр.
                    </li>
                    <li class="offer-item__item">Видео всего процесса приготовления.</li>
                    <li class="offer-item__item">Начинки: фруктово-ягодное конфи, пряное яблоко, солёная карамель,
                      варианты
                      ароматизации фисташковой пастой, кокосовой и другими.
                    </li>

                  </ol>

                </div>

              </li>
            </ol>

          </div>

        </li>
      </ul>
    </div>
  </div>
</section>