<section class="wrap wrap--want">

  <div class="container">

    <div class="want">
      <div class="want__title title-section">
        <h2 class="title-section__head title-section__head--red">{{
          macrosText.wantTitleRu
          }}</h2>
        <p class="title-section__text title-section__text--want">{{
          macrosText.wantSubTitleRu
          }}</p>
      </div>

      <div class="want__video youtube">
        {% for item in macrosData.youtubePreview %}
        <a href="{{ item.linkRu }}" class="youtube__link">
          <picture class="youtube__picture">
            <source srcset="img/{{ item.coverRu }}.webp" type="image/webp">
            <img src="img/{{ item.coverRu }}.jpg" alt="{{ item.altRu }}" class="youtube__img">
          </picture>
        </a>
        {% endfor %}
      </div>

      <ul class="want__list interesting">

        {% for item in macrosText.wantList %}
        <li class="interesting__item">
          <div class="interesting__count">{{ item.count }}</div>
          <div class="interesting__body">
            <h3 class="interesting__title">{{ item.title1 }}</h3>
            <p class="interesting__description">{{ item.description1 | safe }}</p>
          </div>
        </li>
        {% endfor %}

      </ul>

      <div class="want__preview preview">
        <div class="preview__top">

          <h3 class="preview__title">
            {{ macrosText.wantPreviewRu }}
          </h3>
        </div>
        <ul class="preview__summary summary">

          <li class="summary__item summary__item--img">
            {{ imageSvgColor('cook', 'svgcolor summary__img', '70', '100', 'Девушка кондитер.') }}

          </li>

          <li class="summary__item summary__item--popup">
            <div class="popup">
              <button type="button" class="popup__btn"></button>
              <ul class="popup__list">

                {% for item in macrosText.fillingsTypes %}
                <li class="popup__item">{{ item.text1 }}</li>
                {% endfor %}

              </ul>
            </div>

          </li>

          {% for item in macrosText.wantSummary %}
          <li class="summary__item">
            <div class="summary__title">{{ item.title1 }}</div>
            <div class="summary__description">{{ item.description1 }}</div>
          </li>
          {% endfor %}

        </ul>

        <div class="preview__body preview-body">
          <div class="preview-body__item preview-body__item--pdf">
            <p class="preview-body__text">{{ macrosText.wantPreviePart1Ru }}</p>
            <picture class="preview-body__picture">
              <source srcset="img/pdf.webp" type="image/webp">
              <img src="img/pdf.png" alt="Скриншот одной страницы документа PDF" class="preview-body__img" width="100"
                height="100">
            </picture>
          </div>
          <div class="preview-body__item video">
            <button type="button" class="video__btn">reels</button>
            <video preload="auto" loop controls poster="img/cover.jpg" muted class="video__file">
              <source src="video/video.mp4" type="video/mp4">
              <source src="video/video.ogv" type="video/ogg">
              <source src="video/video.webm" type="video/webm">
            </video>
          </div>
          <div class="preview-body__item">
            <p class="preview-body__text">{{ macrosText.wantPreviePart2Ru }}</p>
            <div class="youtube">
              <a href="https://youtu.be/vw4x4sR3228" class="youtube__link youtube__link--preview">
                <picture class="youtube__picture">
                  <source srcset="img/confi.webp" type="image/webp">
                  <img src="img/confi.jpg" alt="Как приготовить фруктово-ягодное конфи." class="youtube__img">
                </picture>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>