<header class="wrap wrap--header" id="home">

  <!-- Блок sale-wrap является распоркой для мобильных устройств -->
  <div class="sale-wrap">
    {% include "includes/promo/sale.html" %}
  </div>


  <div class="container">
    <div class="header">

      <div class="header-fixed">

        {% include "includes/header/logo.html" %}
        {% include "includes/header/language-en.html" %}
        {% include "includes/header/nav-en.html" %}

      </div>

      {% include "includes/header/title-en.html" %}

      {% include "includes/header/slider-header-en.html" %}

    </div>
  </div>
</header>