<header class="wrap wrap--header" id="home">

  <!-- Блок sale-wrap является распоркой для мобильных устройств -->
  <div class="sale-wrap">

    {% include "includes/promo/sale.html" %}

  </div>


  <div class="container">

    <div class="header">

      <div class="header-fixed">

        {% include "includes/header/logo.html" %}

        {% include "includes/header/language-ru.html" %}

        {% include "includes/header/nav-ru.html" %}

      </div>

      {% include "includes/header/title-ru.html" %}

      {% include "includes/header/slider-header-ru.html" %}

    </div>
  </div>
</header>