@include media-up(lg) {
    .social {

        gap: var(--gap-midle);

        &__link {
            color: var(--color-text);
            display: flex;
            flex-direction: row-reverse;
            gap: var(--gap-smal);
            align-items: center;
            text-decoration: none;
            // margin: 0;
            padding: 10px 20px;
            transition: 0.4s;
            border-radius: 20px;
            box-shadow: var(--shadow-elevation-low);
        }

        &__link svg {
            width: 100%;
            height: 100%;
        }

        &__link:hover,
        &__link:focus {
            transform: scale(1.1);
            // transition: 0.4s;
            box-shadow: var(--shadow-elevation-medium);
        }

        &__img {
            // display: block;
            width: 65px;
            height: 65px;
        }

        &__description {
            font-size: 1.3em;
        }
    }
}

@include media-down(lg) {
    .social {
        // flex-direction: column;
        gap: var(--gap-midle);
        flex-wrap: wrap;
        justify-content: center;

        &__link {
            color: var(--color-text);
            display: flex;
            flex-direction: row-reverse;
            gap: var(--gap-smal);
            align-items: center;
            text-decoration: none;
            // margin: 0;
            padding: 10px 20px;
            transition: 0.4s;
            border-radius: 20px;
            box-shadow: var(--shadow-elevation-low);
        }

        &__link svg {
            width: 100%;
            height: 100%;
        }

        &__link:hover,
        &__link:focus {
            transform: scale(1.1);
            // transition: 0.4s;
            box-shadow: var(--shadow-elevation-medium);
        }

        &__img {
            // display: block;
            width: 50px;
            height: 50px;
        }

        &__description {
            font-size: 1.3em;
        }
    }
}