<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="description" content="{{ description }}">
  <title>{{ title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <link rel="stylesheet" href="css/main.css">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GH6SCG1VL8"></script>
  <script>

    window['ga-disable-G-GH6SCG1VL8'] = false;
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-GH6SCG1VL8');
    gtag('set', 'allow_google_signals', false);
  </script>
  <!-- Meta Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1138973390049442');
    fbq('consent', 'revoke');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1138973390049442&ev=PageView&noscript=1" /></noscript>
  <!-- End Meta Pixel Code -->


</head>

<body class="body">
  <!-- <div id="particles-js"></div> -->
  {% block content %}
  {% endblock %}

  <script src="js/main.js"></script>
  <script src="js/cookie.js"></script>
  <script src="js/nav-menu.js"></script>
  <script src="{{ buyBtn }}"></script>
  <script src="js/tiny.js"></script>
  <script src="{{ js }}"></script>
  <script src="js/particles.min.js"></script>
  <script src="js/snow.js"></script>


  <!-- Ниже скрипт подключающий пиксель. Чтобы он работал нужно добавить класс pixel-btn к элементу на который будут нажимать. -->
  <!-- <script type="text/javascript">
    const pixelBtn = document.querySelector('.pixel-btn');
    pixelBtn.addEventListener('click', () => {
      fbq('track', 'AddToWishlist');
    })
  </script> -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800&display=swap"
    rel="stylesheet">
</body>

</html>