<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords"
    content="пирожные, макаронс, обучение макаронс, macarons, как приготовить макаронс, макарунс, macaron_by_elena">
  <meta name="description"
    content="Обучаю приготовлению вкуснейшего десерта - Макарон. Даже если вы не кондитер - обязательно попробуйте себя в этой роли! Не пожалеете!">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="body">

  {% block content %}
  {% endblock %}

  <script src="js/main.js"></script>
  <script src="js/tiny.js"></script>
  <script src="js/slider.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Glory:wght@400;500;600;700&family=Kurale&family=Lobster&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap"
    rel="stylesheet">

</body>

</html>