@include media-up(lg) {

    .course {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: var(--gap-midle);
        color: var(--color-text);

        &__item {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: var(--gap-smal);
            padding: var(--gap-smal);
            border-radius: var(--border-radius-standart);
            background-color: var(--color-background);
            box-shadow: var(--shadow-elevation-medium-muted);
        }

        &__title {
            font-weight: 600;
            font-size: 1.5em;
        }

        &__description {
            font-size: 1.3em;
        }

    }

}

@include media-down(lg) {

    .course {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--gap-large);
        color: var(--color-text);

        &__item {
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--gap-smal);
            padding: var(--gap-midle);
            border-radius: var(--border-radius-standart);
            background-color: var(--color-background);
            box-shadow: var(--shadow-elevation-medium-muted);
        }

        &__title {
            font-weight: 600;
            font-size: 1.5em;
        }

        &__description {
            font-size: 1.3em;
        }

    }

}