{% import "includes/offer/text-content-offer.html" as transtale %}
{% import "includes/offer/price-content.html" as price %}

<section class="wrap wrap--offer" id="offer">
  <div class="container">
    <div class="block">

      <div class="sale-wrap">
        {% include "includes/promo/sale.html" %}
      </div>

      <div class="block__title title">
        <h2 class="title__text">
          {{ transtale.offerTitles.title.ru }}
        </h2>
      </div>

      <ul class="block__section part">

        <li class="part__item">

          <picture class="part__picture">
            <source srcset="img/ {{ transtale.photo.generalCourse.img }}.webp" type="image/webp">
            <img src="img/{{ transtale.photo.generalCourse.img }}.jpg" alt="{{ transtale.photo.generalCourse.altRu }}"
              class="part__img">
          </picture>

          <div class="part__costs costs">

            <div class="costs__title">
              {{ transtale.offerTitles.generalCourse.ru }}
            </div>

            <div class="costs__text">
              {{ transtale.offerTitles.price.ru }}
            </div>

            <div class="costs__price">
              $ {{ price.basePrice.all.usd }}
            </div>

            <button type="button" class="costs__btn generalCourseBtn">
              {{ transtale.offerTitles.buy.ru }}
            </button>

          </div>

          <details class="part__details details">
            <summary class="details__question">Показать что входит в курс</summary>
            <ul class="details__list">
              <li class="details__item">Тех. карта с подробным описанием всего процесса приготовления пирожных
                макарон, с
                рецептом крышечек на итальянской меренге с
                пониженным содержанием сахара. Файл PDF на 30 стр.
              </li>
              <li class="details__item">Руководство по покупке инвентаря со ссылками на онлайн магазины.</li>
              <li class="details__item">Трафареты для выпекания крышечек.</li>
              <li class="details__item">Тех. карта с подробным описанием процесса приготовления начинок разных
                вкусов. Файл PDF
                на 40 стр.
              </li>
              <li class="details__item">Видео всего процесса приготовления крышечек.</li>
              <li class="details__item">Видео приготовления различных базовых начинок.</li>
              <li class="details__item">Видео о том, как делать рисунки и выпекать фигурные
                макарон.</li>
              <li class="details__item">Консультация, ответы на
                вопросы, разбор ошибок, помощь в доведении до уровня продаж.</li>
            </ul>
          </details>

        </li>

        <li class="part__item">

          <picture class="part__picture">
            <source srcset="img/ {{ transtale.photo.shells.img }}.webp" type="image/webp">
            <img src="img/{{ transtale.photo.shells.img }}.jpg" alt="{{ transtale.photo.shells.altRu }}"
              class="part__img">
          </picture>

          <div class="part__costs costs">

            <div class="costs__title">
              {{ transtale.offerTitles.shells.ru }}
            </div>

            <div class="costs__text">
              {{ transtale.offerTitles.price.ru }}
            </div>

            <div class="costs__price">
              $ {{ price.basePrice.part.usd }}
            </div>

            <button type="button" class="costs__btn shellsBtn">
              {{ transtale.offerTitles.buy.ru }}
            </button>

          </div>

          <details class="part__details details">
            <summary class="details__question">Показать что входит в курс</summary>
            <ul class="details__list">
              <li class="details__item">Тех. карта с подробным описанием всего процесса приготовления пирожных
                макарон, с
                рецептом крышечек на итальянской меренге с
                пониженным содержанием сахара. Файл PDF на 30 стр.
              </li>
              <li class="details__item">Руководство по покупке инвентаря со ссылками на онлайн магазины.</li>
              <li class="details__item">Трафареты для выпекания крышечек.</li>
              <li class="details__item">Видео о том, как делать рисунки и выпекать фигурные
                макарон.</li>
            </ul>
          </details>

        </li>

        <li class="part__item">

          <picture class="part__picture">
            <source srcset="img/ {{ transtale.photo.fillings.img }}.webp" type="image/webp">
            <img src="img/{{ transtale.photo.fillings.img }}.jpg" alt="{{ transtale.photo.fillings.altRu }}"
              class="part__img">
          </picture>

          <div class="part__costs costs">

            <div class="costs__title">
              {{ transtale.offerTitles.fillings.ru }}
            </div>

            <div class="costs__text">
              {{ transtale.offerTitles.price.ru }}
            </div>

            <div class="costs__price">
              $ {{ price.basePrice.part.usd }}
            </div>

            <button type="button" class="costs__btn fillingsBtn">
              {{ transtale.offerTitles.buy.ru }}
            </button>

          </div>

          <details class="part__details details">
            <summary class="details__question">Показать что входит в курс</summary>
            <ul class="details__list">
              <li class="details__item">Тех. карта с подробным описанием процесса приготовления начинок разных
                вкусов. Файл PDF
                на 40 стр.
              </li>

              {% for item in macrosText.fillingsTypes %}
              <li class="details__item">{{ item.text1 }}</li>
              {% endfor %}

              <li class="details__item">Видео приготовления различных базовых начинок.</li>
            </ul>
          </details>

        </li>

        <li class="part__item">

          <picture class="part__picture">
            <source srcset="img/ {{ transtale.photo.instagram.img }}.webp" type="image/webp">
            <img src="img/{{ transtale.photo.instagram.img }}.jpg" alt="{{ transtale.photo.instagram.altRu }}"
              class="part__img">
          </picture>

          <div class="part__costs costs">

            <div class="costs__title">
              {{ transtale.offerTitles.instagram.ru }}
            </div>

            <div class="costs__text">
              {{ transtale.offerTitles.price.ru }}
            </div>

            <div class="costs__price">
              $ {{ price.basePrice.inst.usd }}
            </div>


            <button type="button" class="costs__btn instagramBtn">
              {{ transtale.offerTitles.buy.ru }}
            </button>

          </div>

          <details class="part__details details">
            <summary class="details__question">Показать что входит в курс</summary>
            <ul class="details__list">
              <li class="details__item">Книга или PDF файл с подробным описанием всех шагов для развития своего
                аккаунта инстагрмм</li>
              <li class="details__item">В книге после каждого раздела вас ждёт домашнее задание, которое вы можете
                отправить на проверку.</li>
              <li class="details__item">Доступ к 14 видео урокам, которые идут в дополнении к книге.</li>
            </ul>
          </details>

        </li>

        <li class="part__item">

          <picture class="part__picture">
            <source srcset="img/ {{ transtale.photo.all.img }}.webp" type="image/webp">
            <img src="img/{{ transtale.photo.all.img }}.jpg" alt="{{ transtale.photo.all.altRu }}" class="part__img">
          </picture>

          <div class="part__costs costs">

            <div class="costs__title">
              {{ transtale.offerTitles.all.ru | safe }}
            </div>

            <div class="costs__text">
              {{ transtale.offerTitles.price.ru }}
            </div>

            <div class="costs__price">
              $ {{ price.basePrice.eskimo.usd }}
            </div>


            <button type="button" class="costs__btn allBtn">
              {{ transtale.offerTitles.buy.ru }}
            </button>

          </div>

          <details class="part__details details">
            <summary class="details__question">Показать что входит в курс</summary>
            <ul class="details__list">
              <li class="details__item">Весь курс по приготовлению пирожных макарон: крышечки и начинки.</li>
              <li class="details__item">Весь курс "Продвижение инстаграм для кондитеров"</li>
              <li class="details__item">
                <span class="details__item--bold">БОНУС.</span> Курс приготовления Эскимо-чизкейк
              </li>
            </ul>
          </details>

        </li>
      </ul>

    </div>
  </div>
</section>