{% import "includes/offer/text-content-offer.html" as transtale %}
{% import "includes/offer/price-content.html" as price %}

<section class="wrap wrap--offer" id="offer">
  <div class="container">
    <div class="block">

      <div class="sale-wrap">
        {% include "includes/promo/sale.html" %}
      </div>

      <div class="block__title title">
        <h2 class="title__text">
          {{ transtale.offerTitles.title.en }}
        </h2>
      </div>

      <ul class="block__section part">

        <li class="part__item">

          <picture class="part__picture">
            <source srcset="img/{{ transtale.photo.generalCourse.img }}.webp" type="image/webp">
            <img src="img/{{ transtale.photo.generalCourse.img }}.jpg" alt="{{ transtale.photo.generalCourse.altEn }}"
              class="part__img">
          </picture>

          <div class="part__costs costs">

            <div class="costs__title">
              {{ transtale.offerTitles.generalCourse.en }}
            </div>

            <div class="costs__text">
              {{ transtale.offerTitles.price.en }}
            </div>

            <div class="costs__price">
              $ {{ price.basePrice.all.usd }}
            </div>

            <button type="button" class="costs__btn generalCourseBtn pixel-btn">
              {{ transtale.offerTitles.buy.en }}
            </button>

          </div>

          <details class="part__details details">
            <summary class="details__question">
              {{ transtale.details.title.en }}
            </summary>
            <ul class="details__list">

              {% for item in transtale.detailsGeneralCourse %}

              <li class="details__item">{{ item.en }}</li>

              {% endfor %}

            </ul>
          </details>

        </li>

        <li class="part__item">

          <picture class="part__picture">
            <source srcset="img/{{ transtale.photo.shells.img }}.webp" type="image/webp">
            <img src="img/{{ transtale.photo.shells.img }}.jpg" alt="{{ transtale.photo.shells.altEn }}"
              class="part__img">
          </picture>

          <div class="part__costs costs">

            <div class="costs__title">
              {{ transtale.offerTitles.shells.en }}
            </div>

            <div class="costs__text">
              {{ transtale.offerTitles.price.en }}
            </div>

            <div class="costs__price">
              $ {{ price.basePrice.part.usd }}
            </div>

            <button type="button" class="costs__btn shellsBtn pixel-btn">
              {{ transtale.offerTitles.buy.en }}
            </button>

          </div>

          <details class="part__details details">
            <summary class="details__question">
              {{ transtale.details.title.en }}
            </summary>
            <ul class="details__list">

              {% for item in transtale.detailsShells %}

              <li class="details__item">{{ item.en }}</li>

              {% endfor %}

            </ul>
          </details>

        </li>

        <li class="part__item">

          <picture class="part__picture">
            <source srcset="img/{{ transtale.photo.fillings.img }}.webp" type="image/webp">
            <img src="img/{{ transtale.photo.fillings.img }}.jpg" alt="{{ transtale.photo.fillings.altEn }}"
              class="part__img">
          </picture>

          <div class="part__costs costs">

            <div class="costs__title">
              {{ transtale.offerTitles.fillings.en }}
            </div>

            <div class="costs__text">
              {{ transtale.offerTitles.price.en }}
            </div>

            <div class="costs__price">
              $ {{ price.basePrice.part.usd }}
            </div>

            <button type="button" class="costs__btn fillingsBtn pixel-btn">
              {{ transtale.offerTitles.buy.en }}
            </button>

          </div>

          <details class="part__details details">
            <summary class="details__question">
              {{ transtale.details.title.en }}
            </summary>
            <ul class="details__list">

              {% for item in transtale.detailsFillings %}

              <li class="details__item">{{ item.en }}</li>

              {% endfor %}

              {% for item in transtale.fillingsTypes %}

              <li class="details__item">{{ item.en }}</li>

              {% endfor %}

            </ul>
          </details>

        </li>

        <li class="part__item">

          <picture class="part__picture">
            <source srcset="img/{{ transtale.photo.instagram.img }}.webp" type="image/webp">
            <img src="img/{{ transtale.photo.instagram.img }}.jpg" alt="{{ transtale.photo.instagram.altEn }}"
              class="part__img">
          </picture>

          <div class="part__costs costs">

            <div class="costs__title">
              {{ transtale.offerTitles.instagram.en }}
            </div>

            <div class="costs__text">
              {{ transtale.offerTitles.price.en }}
            </div>

            <div class="costs__price">
              $ {{ price.basePrice.inst.usd }}
            </div>


            <button type="button" class="costs__btn instagramBtn pixel-btn">
              {{ transtale.offerTitles.buy.en }}
            </button>

          </div>

          <details class="part__details details">
            <summary class="details__question">
              {{ transtale.details.title.en }}
            </summary>
            <ul class="details__list">

              {% for item in transtale.detailsInst %}

              <li class="details__item">{{ item.en }}</li>

              {% endfor %}

            </ul>
          </details>

        </li>

        <li class="part__item">

          <picture class="part__picture">
            <source srcset="img/{{ transtale.photo.all.img }}.webp" type="image/webp">
            <img src="img/{{ transtale.photo.all.img }}.jpg" alt="{{ transtale.photo.all.altEn }}" class="part__img">
          </picture>

          <div class="part__costs costs">

            <div class="costs__title">
              {{ transtale.offerTitles.all.en | safe }}
            </div>

            <div class="costs__text">
              {{ transtale.offerTitles.price.en }}
            </div>

            <div class="costs__price">
              $ {{ price.basePrice.eskimo.usd }}
            </div>


            <button type="button" class="costs__btn allBtn pixel-btn">
              {{ transtale.offerTitles.buy.en }}
            </button>

          </div>

          <details class="part__details details">
            <summary class="details__question">
              {{ transtale.details.title.en }}
            </summary>
            <ul class="details__list">

              {% for item in transtale.detailsAll %}

              <li class="details__item">{{ item.en | safe }}</li>

              {% endfor %}

            </ul>
          </details>

        </li>
      </ul>

    </div>
  </div>
</section>