@include media-down(lg) {
    .sale-wrap {
        margin-top: 0px;
    }
}

.sale {
    background-color: var(--color-sale);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 5;

    @include media-up(lg) {
        height: 90px;
    }

    @include media-down(lg) {
        height: 70px;
    }

    &__cover {
        position: absolute;

        display: flex;
        gap: 10px;

        @include media-up(lg) {
            left: -100%;
            width: 6000px;
            top: 15px;
        }

        @include media-down(lg) {
            left: -200%;
            width: 4500px;
            top: 10px;
        }
    }

    &__text {
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: uppercase;
        color: var(--color-background);
        font-weight: 600;
        animation: textAnimates 59s infinite;
        animation-timing-function: linear;
    }

    &__text-part-big {

        @include media-up(lg) {
            font-size: 60px;
            line-height: 60px;
        }

        @include media-down(lg) {
            font-size: 40px;
        }

    }

    &__text-part-smal {
        @include media-up(lg) {
            font-size: 20px;
        }

        @include media-down(lg) {
            font-size: 15px;
        }

    }
}

@keyframes textAnimates {
    0% {
        transform: translateX(0);

    }

    100% {
        transform: translateX(300px);
    }
}