@include media-up(lg) {
    .errors {
        display: grid;
        gap: var(--gap-smal);
        position: relative;
        padding-left: 15px;

        &__item {
            font-size: 1.4em;
            color: var(--color-text);
            position: relative;
            padding: 7px;
            justify-self: start;
            border-left: 40px solid var(--color-accent);
            text-indent: 15px;


            &--img {
                position: absolute;
                top: 0px;
                right: 0;
            }

            &--img-sm {
                display: none;
            }
        }

        &__item::before {
            position: absolute;
            content: "";
            width: 30px;
            height: 80%;
            left: -35px;
            top: 10%;
            background-color: var(--color-background);
        }

        &__item::after {
            position: absolute;
            content: "";
            width: 20px;
            height: 10px;
            left: -30px;
            top: 20px;
            border-top: 4px solid var(--color-accent);
        }
    }

    .errors-img-sm {
        display: none;
    }

    .errors-img-xl {
        position: relative;
        z-index: 2;
        display: grid;
        gap: 1em;

        &__item {
            box-shadow: var(--shadow-elevation-medium);
        }

        &__img {
            display: block;
            width: 100px;
            height: auto;
        }
    }

}

@include media-down(lg) {
    .errors {
        position: relative;
        margin-top: var(--gap-midle);
        display: grid;
        gap: var(--gap-smal);

        &__item {
            font-size: 1.2em;
            color: var(--color-text);
            position: relative;
            padding: 8px;
            justify-self: start;
            border-left: 15px solid var(--color-accent);

            &--img-sm {
                border-left: none;
            }
        }

        &__item--img-xl {
            display: none;
        }
    }

    .errors-img-sm {
        display: flex;
        padding: 10px 0;
        z-index: 2;
        position: relative;

        &__item {
            height: auto;
            width: 100%;
        }

        &__img {
            box-shadow: var(--shadow-elevation-medium);
            // margin-right: 10px;
            display: block;
            height: auto;
            width: 100%;
            border-radius: var(--border-radius-standart);
        }

    }
}