@include media-up(lg) {

    .questions {
        display: flex;
        flex-direction: column;
        gap: var(--gap-midle);

        &__item {
            // padding: 10px;
            background-color: var(--color-background);
            box-shadow: var(--shadow-elevation-medium);
            border-radius: var(--border-radius-smal);
        }

        &__question {
            padding: 20px;
            font-size: 1.5em;
            cursor: pointer;
            font-weight: 600;
        }

        &__question:hover {
            color: var(--color-muted);
            font-weight: 600;
        }

        &__question::marker {
            color: var(--color-muted);
        }

        &__answer {
            border-top: 4px solid var(--color-muted);
            font-size: 1.5em;
            padding: 20px;
            line-height: 1.6em;
        }
    }
}

@include media-down(lg) {
    .questions {
        display: flex;
        flex-direction: column;
        gap: var(--gap-large);

        &__item {
            // padding: 10px;
            background-color: var(--color-background);
            box-shadow: var(--shadow-elevation-medium);
            border-radius: var(--border-radius-standart);
            overflow: hidden;
        }

        &__question {
            padding: 20px;
            font-size: 1.3em;
            cursor: pointer;
            font-weight: 600;
        }

        &__question:hover {
            color: var(--color-muted);
            font-weight: 600;
        }

        &__question::marker {
            color: var(--color-muted);
        }

        &__answer {
            border-top: 2px solid var(--color-muted);
            font-size: 1.3em;
            padding: 20px;
            line-height: 1.5em;
        }
    }

}