@include media-up(lg) {
    // .header {
    //     position: relative;
    //     text-align: center;
    //     overflow: hidden;
    //     // margin-top: var(--gap-big);

    //     // display: flex;
    //     // &__title {
    //     //     margin-bottom: var(--gap-big);
    //     // }
    // }

    .header-fixed {
        padding: 12px 20px;
        background-color: var(--color-background);

        position: relative;
        // top: 0px;
        z-index: 3;
        // left: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
        // width: 100%;
        max-width: 1060px;
        margin: 0 auto;

        // &__language {
        //     order: 3;
        // }

        // &__nav {
        //     flex-grow: 1;
        // }
    }

    .header-fixed-wrap {
        background-color: var(--color-background);
        box-shadow: var(--shadow-elevation-low);
        // text-align: center;
        // box-shadow: 0 0 5px 2px var(--color-text);

    }
}

@include media-down(lg) {
    .header {
        text-align: center;
        padding: 0px 0 20px 0;
        position: relative;

    }

    .header-fixed {
        position: fixed;
        top: -2px;
        left: 0;
        z-index: 3;
        width: 100%;
        background-color: #eee;
        display: flex;
        gap: 0.5em;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 10px 15px 10px 15px;

        &__logo {
            flex-grow: 1;
            text-align: start;
        }
    }
}