@include media-up(lg) {

    .header-fixed {
        padding: 12px 20px;
        background-color: var(--color-background);

        position: relative;
        // top: 0px;
        z-index: 3;
        // left: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
        // width: 100%;
        max-width: 1060px;
        margin: 0 auto;
    }

    .header-fixed-wrap {
        background-color: var(--color-background);
        box-shadow: var(--shadow-elevation-low);
    }
}

@include media-down(lg) {
    .header {
        position: relative;
    }

    .header-fixed {
        z-index: 3;
        width: 100%;
        background-color: var(--color-background);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: var(--gap-smal);

        &__logo {
            flex-grow: 1;
            text-align: start;
        }
    }

}