@include media-up(lg) {

    .nav-menu {
        display: none;
    }

    .nav {
        &__list {
            display: flex;
            justify-content: space-around;
        }

        &__link {
            text-decoration: none;
            display: inline-block;
            font-size: 1em;
            font-weight: 600;
            padding: 4px 8px;
            border-radius: 8px;
            color: var(--title-blue);
        }

        &__link:hover,
        &__link:focus {
            transition: 0.2s;
            box-shadow: var(--box-shadow-google);
            transform: translateY(-1px);
        }

        &__link svg {
            stroke-width: 1px;
            stroke: hsl(203, 40%, 40%);
        }

        &__text {
            color: currentColor;
            line-height: 1em;
        }
    }
}

@include media-down(lg) {
    .nav-menu {
        align-self: flex-end;
        position: relative;
        cursor: pointer;
        border: none;
        padding: 5px 5px 0 0;
        background-color: transparent;
        height: 55px;
        position: relative;
        z-index: 3;
        transition: 0.2s;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;

        &__text {
            position: relative;
            font-weight: 600;
            font-size: 1.1em;
            color: #eee;
            margin-top: auto;
        }

    }

    .nav-menu::before,
    .nav-menu::after {
        position: absolute;
        content: "";
        width: 28px;
        height: 4px;
        background-color: var(--title-blue);
        right: 10px;
    }

    .nav-menu::before {
        bottom: 30px;
        transition: 0.2s;
    }

    .nav-menu::after {
        bottom: 15px;
        transition: 0.2s;
    }

    .nav-menu--open .nav-menu__text {
        color: hsl(203, 40%, 40%);
        transition: 0.2s;
    }

    .nav-menu--open::after {
        transition: 0.2s;
        transform: translateY(-15px) rotate(45deg);
    }

    .nav-menu--open::before {
        transition: 0.2s;
        transform: translateY(0px) rotate(-45deg);
    }

    .nav {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #eee;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        transition: 0.2s;

        &__list {
            display: flex;
            justify-content: space-between;
            padding: 10px 75px 10px 15px;
        }

        &__link {
            display: block;
            text-align: center;
            padding: 4px;
            border-radius: 4px;
            text-decoration: none;
            color: hsl(203, 40%, 40%);
            transition: 0.2s;
        }

        &__link:hover,
        &__link:focus {
            color: var(--title-blue);
            box-shadow: var(--box-shadow-google);
            transform: translateY(-1px);
            transition: 0.2s;
        }

        &__link svg {
            stroke-width: 2px;
            stroke: hsl(203, 40%, 40%);
        }

        &__text {
            font-weight: 600;
            font-size: 0.8em;
            line-height: 10px;
            color: currentColor;
        }
    }

    .nav--open {
        transform: translateY(0);
        transition: 0.2s;
    }

}