@include media-down(lg) {
  .container {
    margin: 0 auto;
    padding: 0 20px;
  }
  .header {
    text-align: center;
    padding: 100px 0 40px 0;
    &__head {
      border-top: 2px dashed var(--title-blue);
      font-family: 'Lobster', cursive;
      font-weight: 400;
      font-size: 3.4em;
      margin: 0;
      padding-top: 10px;
      color: var(--title-blue);
    }
    &__text {
      font-family: 'Pacifico', cursive;
      font-weight: 400;
      font-size: 2em;
      color: var(--title-gray);
    }
  }
  .logo {
    position: absolute;
    top: 20px;
    &__link {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    &__link,
    &__link:hover,
    &__link:focus,
    &__link:active,
    &__link:visited {
      text-decoration: none;
    }
    &__img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      box-shadow: 0 0 6px 2px var(--title-blue);
      border: 1px solid var(--title-blue);
    }
    &__text {
      margin-top: 5px;
      font-weight: 600;
      font-family: 'Glory', sans-serif;
      font-size: 22px;
      color: var(--title-blue);
      border: 1px solid var(--title-blue);
      padding: 5px 10px;
      border-radius: 20px;
      transition: 0.4s;
      box-shadow: 0 0 6px 2px var(--title-blue); 
    }
  }
  .title-section {
    display: block;
    text-align: center;
    margin-bottom: 30px;
   &__head {
     margin: 0;
     text-transform: uppercase;
     font-weight: 600;
     font-size: 2em;
   }
   &__text {
     font-size: 1.7em;
     margin-top: 10px;
     color: var(--title-gray);
     font-family: 'Pacifico', cursive;
   }
   &__head--red {
     color: var(--title-red);
   }
   &__head--blue {
     color: var(--title-blue);
   }
   &__head--reviews {
    font-family: 'Pacifico', cursive;
    color: var(--title-gray);
   }
  } 
  .question-wrap {
    position: relative;
  }
  .question-wrap::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/want.webp);
    background-image: image-set(
      url('../img/want.webp') type('image/webp'),
      url('../img/want.jpg')
    );
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    z-index: 1;
  }
  .question {
    position: relative;
    z-index: 2;
    padding: 70px 0;
    &__list {
      position: relative;
    }
    &__item {
      margin-bottom: 20px;
      font-size: 1.5em;
      color: var(--text-gray);
      font-weight: 600;
    }
  }
  .question-item {
    display: flex;
    align-items: center;
    position: relative;
    &__label {
      border: 1px solid rgba(0, 0, 0, .1);
      width: 54px;
      min-width: 54px;	
      height: 27px;
      border-radius: 25%/50%;	
      background: #eee;
      position: relative;
      box-shadow: 0 0 2px 1px var(--title-gray);
      cursor: pointer;
      margin-right: 15px;
    }
    &__label::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
      background: white;
      border-radius: 50%;
      top: 1px;
      left: 1px;
      transition: 0.15s;
    }
    &__checkbox:focus ~ &__label,
    &__checkbox:hover ~ &__label {
      box-shadow: 0px 0px 2px 2px var(--title-gray);
    }
    &__hidden-text {
      transition: 0.1s;
      opacity: 0;
      color: var(--title-red);
      margin-right: 15px;
      color: var(--text-green);
      font-size: 1.3em;
    }
    &__checkbox:checked ~ &__label{
      background: var(--back-green); 
    }
    &__checkbox:checked ~ &__label::before {
      left: 50%;
      transition: 0.1s;
    }
    &__checkbox:checked ~ &__hidden-text {
      opacity: 1;
      transition: 0.1s;
    }
  }
  .want-wrap {
    background-color: white;
    background-image: 
    linear-gradient(90deg, var(--back-lightblue) 50%, transparent 50%),
    linear-gradient(var(--back-lightblue) 50%, transparent 50%);
    background-size: 50px 50px;
    overflow: hidden;
  }
  .want {
    padding: 70px 0 40px 0;
    display: flex;
    flex-direction: column;
    &__list {
      margin: 0 auto;
    }
    &__item {
      padding: 20px 0 0 0;
      font-size: 1.4em;
      color: var(--text-gray);
      font-weight: 600;
      display: grid;
      grid-template-columns: 70px auto;
      align-items: center;
      gap: 20px;
    }
    &__img {
      height: 70px;
      width: 50px;
    }
    &__text {
      margin-top: 30px;
      font-family: 'Pacifico', cursive;
      font-size: 1.6em;
      color: var(--text-gray);
      display: inline-flex;
      position: relative;
      align-self: center;
      text-align: center;
    }
    &__svg-end {
      align-self: center;
    }
  }
  .about-wrap {
    padding: 50px 0 0px 0;
    overflow: hidden;
  }
  .about {
    padding: 20px 20px;
    border-radius: 20px;
    border: 4px solid var(--back-lightblue);
    position: relative;
    box-shadow: 0 0 3px 1px var(--title-gray);
    &__title .title-section__head {
      font-size: 1.5em;
    }
    &__story {
      position: relative;
    }
    &__img {
      border-radius: 50%;
      border: 3px solid rgba(163, 202, 224, 0.8);
    }
    &__img1 {
      position: absolute;
      top: -40px;
      left:  -40px;
      width: 100px;
      height: 100px;
    }
    &__img2 {
      position: relative;
      height: 200px;
      width: 200px;
      bottom: 70px;
      float: right;
      display: block;
    }
    &__text {
      font-size: 1.3em;
      color: var(--text-gray);
      margin-bottom: 20px;
      text-indent: 1em;
      position: relative;
      display: inline-block;
      font-weight: 400;
    }
    &__text1::before {
      content: "";
      display: block;
      float: left;
      width: 70px;
      height: 65px;
      border-bottom-right-radius: 80%;
      // background-color: red;
    }
    &__text3::after {
      content: "";
      display: block;
      float: right;
      position: relative;
      width: 200px;
      height: 55px;
      // border-bottom-right-radius: 80%;
      // background-color: red;
    }
    &__text--loccitane {
      font-weight: 600;
    }
  }
  .offer-wrap {
    background-color: var(--back-lightred);
    border-top-left-radius: 50px;
    overflow: hidden;
  }
  .offer {
    padding: 40px 0;
    --social-link: hsl(0, 0%, 40%);
    --social-hover: hsl(203, 34%, 48%);
    &__body {
      position: relative;
    }
    &__topic {
      font-size: 1em;
      padding: 10px;
      font-weight: 600;
      color: var(--text-gray);
      box-shadow: 0 0 10px 1px var(--title-gray);
      border: 2px solid white;
      border-radius: 20px;
      max-width: 190px;
      position: relative;
      top: 15px;
      margin-left: 30px;
      z-index: 2;
      background-color: var(--back-lightred);
    }
    &__withme {
      border-bottom: 2px dashed var(--title-red);
      margin-bottom: 30px;
    }
    &__list {
      border: 2px solid white;
      box-shadow: 0 0 10px 1px var(--title-gray);
      border-radius: 30px;
    }
    &__item {
      font-size: 1em;
      color: var(--text-gray);
      font-weight: 500;
    }
    &__cost {
      font-size: 2em;
      font-weight: 600;
      padding-left: 40px;
      margin: 20px 0 20px 40px;
      position: relative;
      color: var(--text-gray);
      border-radius: 8px;
      background-color: whitesmoke;
      display: inline-block;
      padding: 5px 10px 5px 50px;
      border: 2px solid var(--title-blue);
    }
    &__cost::after,
    &__cost::before {
      position: absolute;
      content: "";
      left: 10px;
      height: 3px;
      width: 20px;
      background-color: currentColor;
    }
    &__cost::after {
      top: 33%;
    }
    &__cost::before {
      top: 58%;
    }
    &__contact {
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center;
      margin-top: 20px;
    }
    &__text {
      margin: 20px;
      font-size: 22px;
      color: var(--text-gray);
      font-weight: 500;
  
    }
    &__phone {
      color: var(--social-link);
      font-weight: 600;
      transition: 0.4s;
      font-size: 1.2em;
    }
    &__phone:hover,
    &__phone:focus {
      color: var(--social-hover);
      transition: 0.4s;
    }
  }
  .offer-item {
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto;
    &__title {
      margin: 0;
      padding: 20px 0px 20px 15px;
      font-size: 1.3em;
      color: var(--text-gray);
      font-weight: 600;
      position: relative;
      z-index: 1;
      line-height: 1.5em;
      &--1 {
        margin-top: 5px;
      }
    }
    &__title--bold {
      color: var(--title-blue);
      font-weight: 600;
      background-color: whitesmoke;
      padding: 4px 5px;
      border-radius: 8px;
      border: 2px solid var(--title-blue);
    }
    &__btn {
      position: relative;
      background-color: inherit;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      z-index: 1;
    }
    &__btn::before {
      position: absolute;
      content: "";
      height: 100%;
      width: calc(100% * 5);
      top: 0;
      right: 0;
      border-top: 2px solid white;
    }
    &__btn--1::before {
      border-top: none;
    }
    &__btn::after {
      display: block;
      float: right;
      content: "";
      width: 15px;
      height: 15px;
      margin-right: 5px;
      background-color: inherit;
      border-bottom: 3px solid var(--text-gray);
      border-right: 3px solid var(--text-gray);
      transform: rotate(180deg);
      border-top: 3px solid var(--text-gray);
      border-left: 3px solid var(--text-gray);
      transition: 0.5s;
    }
    &__btn--open::after {
      height: 25px;
      border-top: none;
      border-left: none;
      border-bottom: 3px solid var(--text-gray);
      border-right: 3px solid var(--text-gray);
      transform: rotate(45deg);
    }
    &__list {
      padding-bottom: 10px;
      position: relative;
      display: none;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &__list--open {
      display: block;
    }
    &__item {
      padding: 10px 20px 10px 20px;
      line-height: 28px;
      font-size: 1.2em;
      color: var(--text-gray);
      font-weight: 500;
      overflow: hidden;
      position: relative;
      &--last-w {
        padding-bottom: 20px;
        height: 180px;
        width: max-content;
      }
      &--link {
      padding: 0;
      margin: 0px auto;
      width: max-content;
      position: relative;
      }
    }
    &__link {
      margin: 0 auto;
      display: block;
      padding: 15px;
      height: 150px;
      overflow: hidden;
      position: relative;
    }
    &__link::before {
      position: absolute;
      content: "";
      background-image: url(../img/youtube.svg);
      background-size: cover;
      width: 70px;
      height: 70px;
      top: calc(50% - 35px);
      left: calc(50% - 35px);
      transition: 0.2s;
    }
    &__img {
      box-shadow: 0 0 7px 1px var(--text-gray);
      height: 100%;
      border-radius: 15px;
    }
    &__link:hover::before,
    &__link:focus::before {
      transform: scale(1.1);
      transition: 0.2s;
    }
    &__link:hover &__img,
    &__link:focus &__img {
      box-shadow: 0 0 5px 2px var(--title-red);
    }
  }
  .feedback-slider,
  .slider-offer {
    display: flex;
    text-align: center;
    position: relative;
    &__item {
      width: 100%;
    }
    &__img {
      width: 100%;
      box-shadow: 0 0 7px 1px var(--text-gray);
      position: relative;
      z-index: 2;
    }
  }
  .slider-offer { 
    &__item {
      height: 150px;
    }
    &__img {
      height:  auto;
      border-radius: 10px;
    }
  }
  .feedback-slider { 
    &__item {
      height: 350px;
      padding-left: 10px;
    }
    &__img {
      height:  100%;
      border-radius: 10px;
    }
  }
  .tns-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    font-size: 1em;
  }
  .feedback-wrap {
    background-color: var(--back-lightblue);
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%237d96a5' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .feedback {
    padding: 70px 0;
    overflow: hidden;
  }
  .social {
    display: flex;
    justify-content: center;
    gap: 50px;
    &__item {
      margin: 0;
      padding: 0;
    }
    &__link {
      color: var(--social-link);
      display: block;
      margin: 0;
      padding: 0;
      transition: 0.4s;
      width: 55px;
      height: 55px;
    }
    &__link svg {
      width: 100%;
      height: 100%;
    }
    &__link:hover,
    &__link:focus {
      color: var(--social-hover);
      transition: 0.4s;
    }
  }
  .footer-wrap {
    background-color: var(--title-red);
    overflow: hidden;
  }
  .footer {
    padding: 20px 0;
    text-align: center;
    font-weight: 600;
    font-family: 'Glory', sans-serif;
    font-size: 2.4em;
    color: var(--text-darkgray);
    --social-link: hsl(0, 20%, 30%);
    --social-hover: hsl(0, 80%, 20%);
    &__svg {
      height: 80px;
      width: 100%;
    }
    &__svg text {
      font-family: 'Glory', sans-serif;
      letter-spacing: 5px;
      stroke: var(--text-darkgray);
      font-size: 24px;
      line-height: 50px;
      font-weight: 700;
      stroke-width: 1px;
      animation: textAnimate 3s infinite alternate; 
    }
  }
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill: var(--title-red)
  
    }
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: var(--title-red)
    }
  }  
}