@include media-down(lg) {
  .wrap {
    padding: 120px 0 0px 0;
    overflow: hidden;

    &--header {
      padding: 0;
    }

    &--want {
      background-color: white;
      background-image:
        linear-gradient(90deg, var(--back-lightblue) 50%, transparent 50%),
        linear-gradient(var(--back-lightblue) 50%, transparent 50%);
      background-size: 50px 50px;
      padding: 50px 0 50px 0;
      overflow: hidden;
      position: relative;
    }

    &--errors {
      background-color: hsla(355, 57%, 95%, 0.2);
      padding-top: 70px;
    }

    &--skils {
      position: relative;
      padding-top: 70px;
    }

    &--skils::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-image: url(../img/want.webp);
      background-image: image-set(url('../img/want.webp') type('image/webp'),
          url('../img/want.jpg'));
      background-size: cover;
      bottom: 0;
      left: 0;
      opacity: 0.3;
      z-index: 1;
    }

    &--offer {
      background-color: var(--back-lightred);
      position: relative;
      padding-top: 0;
    }

    &--payment {
      background-color: var(--back-lightred);
      padding-top: 70px;
    }

    &--feedback {
      background-color: var(--back-lightblue);
      background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%237d96a5' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    }

    &--footer {
      background-color: var(--title-red);
      padding: 0;
    }
  }

  .container {
    margin: 0 auto;
    padding: 0 20px;

  }

  .header {
    text-align: center;
    padding: 130px 0 20px 0;
    position: relative;

    &__top {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      background-color: #eee;
      display: flex;
      gap: 0.5em;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 15px 15px 10px 15px;
    }
  }

  .logo {
    position: relative;
    flex-grow: 1;
    align-self: flex-end;
    text-align: start;

    &__link {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
    }

    &__link,
    &__link:hover {
      text-decoration: none;
    }

    &__img {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      box-shadow: 0 0 6px 2px var(--title-blue);
      border: 1px solid var(--title-blue);
      padding: 0;
      margin: 0;
    }

    &__text {
      font-weight: 600;
      font-family: 'Dancing Script', cursive;
      font-size: 16px;
      color: var(--title-blue);
    }
  }

  .language {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 2px 0;

    &__link {
      padding: 5px 10px;
      display: inline-block;
      line-height: 30px;
      border-radius: 4px;
      text-decoration: none;
      font-weight: 600;
      color: var(--title-blue);
      transition: 0.2s;
    }

    &__link:hover,
    &__link:focus {
      transition: 0.2s;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    }

    &__link--current {
      color: hsl(202, 34%, 68%);
      position: relative;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    }

  }

  .header-menu {
    align-self: flex-end;
    cursor: pointer;
    border: none;
    padding: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    height: 55px;
    position: relative;
    z-index: 3;
    transition: 0.2s;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;

    &__text {
      position: relative;
      font-weight: 600;
      font-size: 0.8em;
      color: #eee;
      margin-top: auto;
    }
  }

  .header-menu:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    transform: translateY(-1px);
    transition: 0.2s;
  }

  .header-menu::before,
  .header-menu::after {
    position: absolute;
    content: "";
    width: 74%;
    height: 4px;
    background-color: var(--title-blue);
    right: 13%;
  }

  .header-menu::before {
    bottom: 40px;
    transition: 0.2s;
  }

  .header-menu::after {
    bottom: 20px;
    transition: 0.2s;
  }

  .header-menu--open .header-menu__text {
    color: hsl(203, 40%, 40%);
    transition: 0.2s;
  }

  .header-menu--open::after {
    right: 10%;
    width: 80%;
    transition: 0.2s;
    transform: translateY(-12px) rotate(45deg);
  }

  .header-menu--open::before {
    right: 10%;
    width: 80%;
    transition: 0.2s;
    transform: translateY(8px) rotate(-45deg);
  }

  .nav {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #eee;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: 0.2s;

    &__list {
      display: flex;
      justify-content: space-between;
      padding: 30px 75px 10px 15px;
    }

    &__link {
      display: block;
      text-align: center;
      padding: 4px;
      border-radius: 4px;
      text-decoration: none;
      color: hsl(203, 40%, 40%);
      transition: 0.2s;
    }

    &__link:hover,
    &__link:focus {
      color: var(--title-blue);
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
      transform: translateY(-1px);
      transition: 0.2s;
    }

    &__link svg {
      stroke-width: 2px;
      stroke: hsl(203, 40%, 40%);
    }

    &__text {
      font-weight: 600;
      font-size: 0.8em;
      line-height: 10px;
      color: currentColor;
    }
  }

  .nav--open {
    transform: translateY(0);
    transition: 0.2s;
  }

  .title-section {
    display: block;
    text-align: center;
    margin-bottom: 30px;

    &__head {
      margin: 0;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.8em;

      &--header {
        font-family: 'Kurale', serif;
        font-weight: 400;
        font-size: 2.4em;
        // text-transform: capitalize;
        color: var(--title-blue);
      }

      &--about {
        font-size: 1.4em;
      }

      &--errors {
        font-size: 1.4em;
      }

      &--skils {
        font-size: 1.4em;
      }
    }

    &__text {
      font-size: 1.7em;
      font-weight: 600;
      margin-top: 10px;
      padding-bottom: 5px;
      color: var(--title-gray);

      &--header {
        font-family: 'Kurale', serif;
        font-weight: 400;
        font-size: 1.8em;
        margin-top: 0;
        padding-bottom: 0;
      }

      &--errors {
        font-size: 1.3em;
      }

      &--want {
        font-size: 1.2em;
        margin-top: 30px;
      }

    }

    &__head--red {
      color: var(--title-red);
    }

    &__head--blue {
      color: var(--title-blue);
    }

    &__head--reviews {
      color: var(--title-gray);
    }
  }

  .preview {
    border: 1px solid var(--title-blue);
    padding: 15px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgba(255, 255, 255, 0.61);
    box-shadow: 0 0 7px 1px var(--text-gray);
    // margin-top: 50px;
    // position: relative;
    overflow: hidden;

    // &__img {
    //   position: absolute;
    //   top: 10px;
    //   left: 15px;
    //   width: 50px;
    //   display: none;
    // }

    &__title {
      text-align: center;
      // margin: 10px 0 20px 50px;
      text-transform: uppercase;
      color: var(--title-red);
      font-size: 1.4em;
    }
  }

  .preview-body {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    // grid-template-columns: 30% auto 30%;
    // justify-content: center;
    // position: relative;

    &__item {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      gap: 1em;
      position: relative;
    }

    &__item--pdf {
      order: -1;
    }

    // &__item::before {
    //   content: "";
    //   border-top: 2px solid #6d6d6d;
    //   align-self: stretch;
    // }

    &__text {
      font-size: 1.3em;
      color: var(--text-gray);
      // order: -1;
    }

    &__img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 0 3px 1px var(--text-gray);
      // transition: 0.3s;
      max-width: 500px;
    }

    // &__img:hover,
    // &__img:focus {
    //   transition: 0.3s;
    //   transform: scale(1.7) translateX(-40px) translateY(-10px);
    // }

  }

  .preview-body::before {
    content: "";
    border-top: 2px solid #6d6d6d;
    align-self: stretch;
    // order: 2;
  }

  .video {
    display: inline-block;
    // grid-column-start: 2;
    // grid-column-end: 4;
    // grid-row-start: 2;
    // grid-row-end: 4;
    width: min-content;
    position: absolute;
    bottom: 50%;
    right: -270px;
    transition: 0.8s;
    background-color: silver;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    // justify-self: center;
    border: 1px solid #eee;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3),
      0 2px 6px 2px rgba(60, 64, 67, .15),
      0 3px 8px 5px rgba(60, 64, 67, .10);

    // position: relative;
    &__btn {
      &--open {
        border-color: white;
      }

      border: none;
      position: absolute;
      top: calc(50% - 35px);
      left: -47px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border-right: 4px solid var(--back-lightred);
      border-top: 4px solid silver;
      border-left: 4px solid silver;
      border-bottom: 4px solid silver;
      text-transform: uppercase;
      background-color: var(--title-gray);
      color: white;
      font-weight: 600;
      cursor: pointer;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .4),
      0 2px 6px 2px rgba(60, 64, 67, .3),
      -3px 3px 8px 5px rgba(60, 64, 67, .2);
    }

    // &__btn::after {
    //   position: absolute;
    //   content: "";
    //   width: 80%;
    //   height: 4px;
    //   background-color: #fff;
    //   left: 5px;
    //   bottom: 15px;
    // }

    &__file {
      border-radius: 15px;
      border: 4px solid var(--back-lightred);
      // width: 100%;
      // position: absolute;
      height: 70vh;
      max-height: 500px;
      // width: 80%;
      display: none;
    }


  }

  .video--open {
    right: 10px;
    transition: 0.8s;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .4),
      0 2px 6px 2px rgba(60, 64, 67, .30),
      -3px 3px 8px 5px rgba(60, 64, 67, .2);
  }

  .video::before,
  .video::after {
    position: absolute;
    content: "";


    border-radius: 5px;
    background-color: rgb(214, 213, 213);
  }

  .video::before {
    height: 4px;
    width: 30px;
    top: 4px;
    left: calc(50% - 15px);
  }

  .video:after {
    width: 70px;
    height: 6px;
    bottom: 4px;
    left: calc(50% - 35px);
    border: 1px solid #eee;
  }

  .want {
    display: flex;
    flex-direction: column;

    // &__list {
    //   margin: 0 auto;
    // }

    // &__item {
    //   padding: 20px 0 0 0;
    //   font-size: 1.4em;
    //   color: var(--text-gray);
    //   font-weight: 600;
    //   display: grid;
    //   grid-template-columns: 70px auto;
    //   align-items: center;
    //   gap: 20px;
    // }

    &__img {
      height: 70px;
      width: 50px;
    }

    &__text {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 1.6em;
      color: var(--text-gray);
      display: inline-flex;
      position: relative;
      align-self: center;
      text-align: center;
    }

    &__preview {
      margin-top: 50px;
    }

    &__video {
      margin: 0px auto 30px auto;
    }
  }

  .interesting {
    display: grid;
    gap: 2em;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 1em;
      box-shadow: 0 0 7px 4px var(--hover-bluedark);
      background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid var(--text-gray);
      // border-radius: 50px;
      position: relative;

    }

    // &__item::before {
    //   content: "";
    //   border-top: 2px solid var(--title-red);
    //   // border-bottom: 2px solid var(--back-green);
    //   // width: 2px;
    //   // background-color: red;
    //   align-self: stretch;
    //   margin: 0 20px;
    // }

    &__count {
      // order: -1;
      align-self: center;
      font-size: 2em;
      font-weight: 600;
      // border: 2px solid var(--text-gray);
      background-color: var(--title-red);
      border-radius: 50%;
      // aspect-ratio: 1;
      width: 40px;
      height: 40px;
      text-align: center;
      color: #eee;
      // margin-top: 0.5em;
      position: absolute;
      left: -17px;
      top: -20px;
    }

    &__body {
      padding: 15px;
    }

    &__title {
      margin: 0 0 15px 0;
      font-size: 1.2em;
      color: var(--text-darkgray);
      // text-transform: uppercase;
      // text-align: end;
    }

    &__description {
      font-size: 1.1em;
      color: var(--text-darkgray);
    }
  }

  .summary {
    padding: 10px;
    border-top: 2px solid var(--title-red);
    border-bottom: 2px solid var(--title-red);
    display: grid;
    // grid-template-columns: auto;
    gap: 1em;
    // align-items: center;

    &__title {
      color: var(--text-gray);
    }

    &__item {
      position: relative;
    }

    &__item--img {
      display: none;
    }

    &__description {
      font-weight: 600;
      margin-top: 10px;
    }
  }

  .popup {

    &__list {
      display: none;
      position: absolute;
      top: 130%;
      right: -17px;
      background-color: rgb(241, 249, 253);
      box-shadow: 0 0 7px 4px var(--hover-bluedark);
      z-index: 1;
      width: 110%;
      max-width: 450px;
      padding: 10px;
      border-radius: 10px;
    }

    &__item {
      margin-bottom: 8px;
      padding-left: 20px;
      font-size: 1.1em;
      color: var(--text-darkgray);
      position: relative;
    }

    &__item::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      background-color: currentColor;
      left: 0;
      top: calc(50% - 2.5px);
    }

    &__btn {
      position: absolute;
      width: 110%;
      bottom: -5%;
      right: -5%;
      height: 110%;
      border: none;
      background-color: transparent;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, white 100%);
      // border: 1px solid gray;
      border-bottom-left-radius: 7px;
      border-top-left-radius: 7px;
      z-index: 2;
      box-shadow: 0 0 1px 1px rgb(180, 155, 155);
    }

    &__btn::before {
      content: "";
      position: absolute;
      bottom: calc(50% - 4px);
      right: 40px;
      width: 10px;
      height: 10px;
      background-color: var(--title-red);
      // border-bottom: 4px solid var(--title-red);
      // border-right: 4px solid var(--title-red);
      // background-color: var(--title-red);
      // box-shadow: 0 0 0px 1px var(--title-red);
      // transform: rotate(45deg);
    }

    &__btn::after {
      content: "";
      position: absolute;
      bottom: calc(50% - 4px);
      right: 40px;
      width: 10px;
      height: 10px;
      background-color: var(--title-red);
      // border-bottom: 4px solid var(--title-red);
      // border-right: 4px solid var(--title-red);
      // background-color: var(--title-red);
      // box-shadow: 0 0 0px 1px var(--title-red);
      transform: rotate(45deg);
    }

    // &__btn:hover::before {
    //   border-bottom: 4px solid var(--back-green);
    //   border-right: 4px solid var(--back-green);
    // }

    // &__btn--open:hover::before {
    //   border-bottom: 2px solid var(--back-lightred);
    //   border-right: 2px solid var(--back-lightred);
    // }

    &__btn--open::before {
      // top: 4px;
      bottom: calc(50% - 1px);
      // left: 88px;
      right: 37px;
      width: 15px;
      height: 3px;
      // background-color: var(--title-red);
      transform: rotate(-45deg);

    }

    &__btn--open::after {
      // top: 4px;
      bottom: calc(50% - 1px);
      // left: 88px;
      right: 37px;
      width: 15px;
      height: 3px;
      // background-color: var(--title-red);
    }

    &__list--open {
      display: block;
    }
  }

  .errors {
    padding-bottom: 50px;

    &__list {
      margin-top: 50px;
      display: grid;
      // justify-content: center;
      gap: 10px;
    }

    &__item {
      font-size: 1.1em;
      color: var(--text-gray);
      background-color: white;
      position: relative;
      z-index: 2;
      padding: 8px;
      justify-self: start;
      border-left: 20px solid var(--back-lightred);

      &--img-sm {
        border-left: none;
        // position: absolute;
      }

      // box-shadow: 0 0 5px 5px var(--back-lightblue);

      // &--center {
      //   justify-self: center;
      // }

      // &--right {
      //   justify-self: end;
      // }
    }

    // &__list {
    //   display: grid;
    //   grid-template-columns: auto;
    //   row-gap: 2em;
    //   column-gap: 1em;
    // }

    // &__item {
    //   font-size: 1.8em;
    //   text-align: center;
    //   padding: 10px;
    //   background-color: var(--hover-bluedark);
    //   // display: inline-grid;
    //   // margin: auto;
    //   position: relative;
    //   z-index: 2;
    //   box-shadow: 0 0 4px 3px var(--text-gray);
    //   color: white;

    //   &--img {
    //     background-color: #fff;
    //     // grid-column-start: 2;
    //     // grid-column-end: 3;
    //     // grid-row-start: 1;
    //     // grid-row-end: 9;
    //     padding: 0;
    //     box-shadow: none;
    //     overflow: hidden;
    //   }

    &__item--img-xl {
      display: none;
    }

    // &--red {
    //   background-color: var(--title-red);
    // }

    // &--span {
    //   grid-column: span 2;
    //   background-color: var(--back-lightred);
    //   box-shadow: 0 0 4px 2px var(--title-red);
    //   color: var(--text-gray);
    // }
  }


  .errors-img-sm {
    display: flex;
    // gap: 1em;
    padding: 10px 0;

    &__item {
      height: auto;
      width: 100%;
    }

    &__img {
      box-shadow: 0 0 4px 1px var(--text-gray);
      margin-right: 10px;
      display: block;
      // width: auto;
      // padding: 5px;
      // height: 100%;
      // min-height: 200px;
      height: auto;
      width: 100%;
      border-radius: 10px;
    }

  }

  .skils {
    padding-bottom: 50px;

    &__list {
      display: grid;
      // justify-content: center;
      gap: 10px;
    }

    &__item {
      font-size: 1.1em;
      color: var(--text-gray);
      background-color: white;
      position: relative;
      z-index: 2;
      padding: 8px;
      justify-self: start;
      border-left: 20px solid var(--back-green);
      box-shadow: 0 0 5px 5px var(--back-lightblue);

      // &--center {
      //   justify-self: center;
      // }

      // &--right {
      //   justify-self: end;
      // }
    }

    // &__item::before {
    //   position: absolute;
    //   content: "";
    //   width: 40px;
    //   height: 80%;
    //   // border-radius: 5px;
    //   left: -45px;
    //   top: 10%;
    //   background-color: #fff;
    // }

    // &__item::after {
    //   position: absolute;
    //   content: "";
    //   width: 20px;
    //   height: 10px;
    //   left: -35px;
    //   top: 15px;
    //   border-top: 4px solid var(--back-green);
    //   border-right: 4px solid var(--back-green);
    //   transform: rotate(-230deg);
    // }
  }

  .offer {
    padding: 110px 0 20px 0;

    &__list {
      border: 2px solid white;
      box-shadow: 0 0 10px 1px var(--title-gray);
      border-radius: 30px;
      position: relative;
      z-index: 2;
    }

    &__text {
      margin: 30px 20px 20px 20px;
      font-size: 22px;
      color: var(--text-gray);
      font-weight: 500;
      text-align: center;

      &--payment {
        text-transform: uppercase;
      }
    }

    &__phone {
      color: var(--social-link);
      font-weight: 600;
      transition: 0.4s;
      font-size: 1.2em;
    }

    &__title-payment {
      text-transform: uppercase;
      font-size: 22px;
      color: var(--text-gray);
      font-weight: 600;
      margin: 20px;
    }

    &__phone:hover,
    &__phone:focus {
      color: var(--social-hover);
      transition: 0.4s;
    }

    &__social {
      padding: 40px 0;
    }
  }

  .youtube {
    display: inline-block;

    &__link {
      margin: 0 auto;
      display: block;
      padding: 15px;
      height: 180px;
      overflow: hidden;
      position: relative;
    }

    &__link--preview {
      height: 160px;
      padding: 10px;
    }

    &__link::before {
      position: absolute;
      content: "";
      background-image: url(../img/youtube.svg);
      background-size: cover;
      width: 70px;
      height: 70px;
      top: calc(50% - 35px);
      left: calc(50% - 35px);
      transition: 0.2s;
    }

    &__img {
      box-shadow: 0 0 7px 1px var(--text-gray);
      height: 100%;
      border-radius: 15px;
    }

    &__link:hover::before,
    &__link:focus::before {
      transform: scale(1.1);
      transition: 0.2s;
    }

    &__link:hover &__img,
    &__link:focus &__img {
      box-shadow: 0 0 5px 2px var(--title-red);
    }
  }

  .offer-item {
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto auto;

    &__btn {
      position: relative;
      background-color: inherit;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      z-index: 1;
    }

    &__btn::before {
      position: absolute;
      content: "";
      height: 100%;
      width: calc(100% * 5);
      top: 0;
      right: 0;
      border-top: 2px solid white;
    }

    &__btn--1::before {
      border-top: none;
    }

    &__btn::after {
      display: block;
      float: right;
      content: "";
      width: 15px;
      height: 15px;
      margin-right: 5px;
      background-color: inherit;
      border-bottom: 3px solid var(--text-gray);
      border-right: 3px solid var(--text-gray);
      transform: rotate(180deg);
      border-top: 3px solid var(--text-gray);
      border-left: 3px solid var(--text-gray);
      transition: 0.5s;
    }

    &__btn--open::after {
      height: 25px;
      border-top: none;
      border-left: none;
      border-bottom: 3px solid var(--text-gray);
      border-right: 3px solid var(--text-gray);
      transform: translateX(-10px) rotate(45deg);
    }

    &__list {
      padding-bottom: 10px;
      position: relative;
    }

    &__body {
      display: none;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &__body--open {
      display: block;
    }

    &__item {
      padding: 10px 10px 10px 20px;
      margin-right: 10px;
      line-height: 28px;
      font-size: 1.2em;
      color: var(--text-gray);
      font-weight: 500;
      list-style-type: disc;
      position: relative;
    }

    &__item:last-child {
      overflow: hidden;
    }

    &__item::marker {
      color: rgb(104, 11, 11);
    }

    &__item--slider {
      overflow: hidden;
    }

    &__img {
      box-shadow: 0 0 7px 1px var(--text-gray);
      border-radius: 15px;
      margin-top: 15px;
      display: block;
    }
  }

  .offer-i-head {
    margin: 0;
    padding: 10px 0px 10px 10px;
    font-size: 1.1em;
    color: var(--text-gray);
    font-weight: 600;
    position: relative;
    z-index: 1;
    // line-height: 1.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__text {
      // text-transform: uppercase;
      width: 100%;
      margin: 0;
      font-size: 1em;
      line-height: 1.5em;

      &--green {
        // border: 2px solid var(--back-green);
        background-color: rgb(108, 199, 108);
        color: #fff;
        padding: 5px;
        // border-radius: 5px;
        // margin-top: 10px;
        line-height: 1.2em;
        display: inline-block;
      }

      &--gray {
        // border: 2px solid var(--title-red);
        background-color: hsl(0, 10%, 64%);
        color: #fff;
        padding: 5px;
        // border-radius: 5px;
        // margin-top: 10px;
        line-height: 1.2em;
        display: inline-block;
      }
    }

    &__cost {
      font-size: 1.3em;
      font-weight: 600;
      padding-left: 40px;
      position: relative;
      color: var(--text-gray);
      border-radius: 8px;
      background-color: whitesmoke;
      display: block;
      padding: 5px 10px 5px 50px;
      border: 2px solid var(--title-blue);
    }

    &__cost::after,
    &__cost::before {
      position: absolute;
      content: "";
      left: 10px;
      height: 3px;
      width: 20px;
      background-color: var(--text-darkgray);
    }

    &__cost::after {
      top: 33%;
    }

    &__cost::before {
      top: 58%;
    }
  }

  .offer-prev {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    gap: 10px;
    margin: 5px 15px 10px 15px;
    padding-top: 10px;
    border-top: 2px dashed gray;

    &__picture {
      width: 25px;
      height: 25px;
      overflow: hidden;
    }

    &__img {
      width: 25px;
      height: 25px;
      // margin: 2px;
      border-radius: 50%;
      object-fit: cover;
      // box-shadow: 0 0 2px 1px var(--text-gray);
    }

    &__svg {
      fill: rgb(143, 53, 102);
      width: 25px;
      height: 25px;
    }
  }

  .buy {
    margin: 0 10px 20px 15px;
    display: inline-flex;
    flex-direction: column;
    gap: 30px;

    &__link {
      padding: 15px;
      text-decoration: none;
      --shadow-color: 359deg 22% 54%;
      --shadow-elevation-medium:
        0px 0.1px 0.2px hsl(var(--shadow-color) / 0),
        0px 0.6px 0.9px hsl(var(--shadow-color) / 0.32),
        0px 1.6px 2.4px hsl(var(--shadow-color) / 0.64);
      box-shadow: var(--shadow-elevation-medium);
      background-color: whitesmoke;
      font-weight: bold;
      color: var(--text-gray);
      font-size: 0.8em;
    }

    &__link:hover,
    &__link:focus {
      color: black;
    }

    &__link:focus-visible {
      border: 1px solid var(--title-blue);
    }
  }

  .payment {
    padding: 0;


  }

  .end-photo {
    &__img {
      display: block;
      height: auto;
      // max-height: 300px;
      width: 100%;
    }
  }

  .payment-list {
    margin-bottom: 50px;

    &__item {
      font-size: 1.2em;
      color: var(--text-gray);
      margin: 15px 0;
      position: relative;

      &--bold {
        // border: 1px solid gray;
        box-shadow: 0 0 1px 1px gray;
        padding: 5px;
        border-radius: 10px;
      }
    }

    &__payment {
      display: none;
    }

    &__payment--open {
      display: block;
    }

    &__btn {
      font-size: 1.1em;
      border: none;
      padding: 7px;
      margin-bottom: 10px;
      background-color: gray;
      color: #fff;
      cursor: pointer;
      --shadow-color: 359deg 22% 54%;
      --shadow-elevation-medium:
        0px 0.1px 0.2px hsl(var(--shadow-color) / 0),
        0px 0.6px 0.9px hsl(var(--shadow-color) / 0.62),
        0px 1.6px 2.4px hsl(var(--shadow-color) / 0.74);
      box-shadow: var(--shadow-elevation-medium);
      margin-bottom: 20px;
    }

    &__social {
      margin: 15px 0;
    }

    &__text {
      padding: 5px 0 0 15px;
    }
  }


  .payment-type {

    &__item {
      position: relative;
      margin-bottom: 20px;
      box-shadow: 0 0 5px 0.5px var(--title-gray);
      // display: flex;
    }

    &__title {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: relative;
      height: 70px;
    }

    &__logo {
      text-transform: uppercase;
      font-size: 1.2em;
      line-height: 70px;
      font-weight: bold;
      margin-left: 10px;
    }

    &__head {
      position: relative;
      width: 100%;
      height: 1.1em;
      overflow: hidden;
      color: transparent;
    }

    &__logo {
      color: var(--text-gray);
    }

    &__btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

    &__description {
      display: none;
    }

    &__payment--open {
      display: flex;
    }

    &__link {
      margin: 1rem;
      display: block;
    }

    &__description {
      flex-direction: column;
      gap: 0.5em;
      padding-top: 0.5em;
      position: relative;
      margin: 0 8px;
    }

    &__text {
      width: 100%;
      // align-self: center;
      line-height: 1.5em;
      border-top: 2px solid var(--title-red);
      display: block;
      font-size: 1.1em;
      color: var(--text-gray);
      padding-top: 10px;
    }

  }


  .p-description {

    flex-direction: column;
    gap: 0.5em;
    padding-top: 0.5em;
    position: relative;
    margin: 0 8px;

    // &__link {
    //   margin-top: 10px;
    //   display: none;
    // }

    &__copy {
      display: inline-block;
      margin: 5px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: whitesmoke;
      font-size: 0.7em;
      // line-height: 2em;
    }

    &__logo {
      display: grid;
      padding-left: 10px;
      grid-template-columns: auto auto auto;
      gap: 1rem;
    }

    &__block {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 10px;
    }

    &__text {
      width: 100%;
      // align-self: center;
      line-height: 1.5em;
      border-top: 2px solid var(--title-red);
      display: block;
      font-size: 1.1em;
      color: var(--text-gray);
      padding-top: 10px;
    }

    &__image {
      max-width: 220px;
      width: 100%;
      height: auto;
      // margin: 10px;
      // display: none;
    }
  }

  .currency {
    box-shadow: 0 -4px 10px 0px var(--text-gray);
    position: relative;
    display: inline-flex;
    gap: 15px;
    padding: 8px 10px 10px 10px;
    margin-left: 30px;
    // top: -200%;
    // left: 450px;
    background-color: whitesmoke;
    // border-radius-: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 2px solid var(--title-blue);
    border-bottom: none;

    &__btn {
      font-size: 1.35em;
      // font-weight: 600;
      border-radius: 0;
      border: none;
      padding: 5px 10px;
      margin: 0;
      background-color: inherit;
      // border-bottom: 2px solid whitesmoke;
      color: var(--text-gray);
      transition: 0.2s;
    }

    &__btn:hover {
      transform: scale(1.4);
      color: var(--text-darkgray);
      transition: 0.2s;
      color: var(--title-red);
    }

    &__btn--current {
      transform: scale(1.4);
      color: var(--text-darkgray);
      transition: 0.2s;
      color: var(--title-red);
    }
  }

  .costs {
    position: relative;
    color: whitesmoke;

    &__label {
      overflow: hidden;
      width: 110px;
      position: relative;
    }

    &__box {
      display: flex;
      color: var(--text-darkgray);
      position: absolute;
      top: 0px;
      left: -220px;
    }

    &__item {
      width: 110px;
    }

    &__box--left {
      transform: translateX(220px);
      transition: 0.5s;
    }

    &__box--center {
      transform: translateX(110px);
      transition: 0.5s;
    }

    &__box--right {
      transform: translateX(0px);
      transition: 0.5s;
    }

    &__indicate {
      position: absolute;
      display: flex;
      background-color: whitesmoke;
      top: 170%;
      left: 40px;
    }


  }

  .about {
    padding: 20px 20px;
    border-radius: 20px;
    border: 4px solid var(--back-lightblue);
    position: relative;
    box-shadow: 0 0 3px 1px var(--title-gray);

    &__body {
      position: relative;
      margin-top: 40px;
    }

    &__img {
      border-radius: 50%;
      border: 3px solid rgba(163, 202, 224, 0.8);

      &--top {
        position: absolute;
        top: -40px;
        left: -40px;
        width: 100px;
        height: 100px;
      }

      &--down {
        position: relative;
        height: 200px;
        width: 200px;
        bottom: 70px;
        float: right;
        display: block;
      }
    }

    &__text {
      font-size: 1.3em;
      color: var(--text-gray);
      margin-bottom: 20px;
      text-indent: 1em;
      position: relative;
      display: inline-block;
      font-weight: 400;

      &--1::before {
        content: "";
        display: block;
        float: left;
        width: 70px;
        height: 65px;
        border-bottom-right-radius: 80%;
      }

      &--3::after {
        content: "";
        display: block;
        float: right;
        position: relative;
        width: 200px;
        height: 55px;
      }

      &--loccitane {
        font-weight: 600;
      }
    }
  }

  .feedback-slider,
  .slider-offer {

    &__list {
      display: flex;

      text-align: center;
      position: relative;
      padding: 0;
    }

    &__item {
      width: 100%;
    }

    &__img {
      width: 100%;
      box-shadow: 0 0 7px 1px var(--text-gray);
      position: relative;
      z-index: 2;
    }
  }

  .slider-offer {
    &__item {
      height: auto;
    }

    &__img {
      height: auto;
      border-radius: 10px;
    }

    &__btn {
      position: absolute;
      bottom: 24px;
      left: 0;
      height: 70px;
      width: 70px;
      cursor: pointer;
      border-radius: 50%;
      border: none;
      background-color: rgba(128, 128, 128, 0.4);
      transition: 0.2s;
      color: black;
    }

    &__btn:hover,
    &__btn:focus {
      transform: scale(1.1);
      transition: 0.2s;
    }
  }

  .feedback-slider {

    &__item {
      height: 350px;
      padding-left: 10px;
      padding-bottom: 10px;
    }

    &__img {
      height: 100%;
      border-radius: 10px;
    }
  }

  .tns-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    font-size: 1em;
  }

  .feedback {
    overflow: hidden;
    padding: 0 0 50px 0;
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 50px;

    &__link {
      color: var(--social-link);
      display: block;
      margin: 0;
      padding: 0;
      transition: 0.4s;
    }

    &__link svg {
      width: 100%;
      height: 100%;
    }

    &__img {
      width: 15vw;
      height: 15vw;
      max-width: 65px;
      max-height: 65px;
    }

    &__link:hover,
    &__link:focus {
      color: var(--social-hover);
      transform: scale(1.1) translateY(5px);
      transition: 0.4s;
    }
  }

  .footer {
    padding: 20px 0;
    text-align: center;
    font-weight: 600;
    // font-family: 'Glory', sans-serif;
    font-size: 2.4em;
    color: var(--text-darkgray);
    --social-link: hsl(0, 20%, 30%);
    --social-hover: hsl(0, 80%, 20%);

    &__svg {
      height: 80px;
      width: 100%;
    }

    &__svg text {
      font-family: 'Glory', sans-serif;
      letter-spacing: 5px;
      stroke: var(--text-darkgray);
      font-size: 30px;
      line-height: 50px;
      font-weight: 700;
      stroke-width: 1px;
      animation: textAnimate 4s infinite alternate;
    }
  }

  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      // stroke-dashoffset: 20%;
      fill: var(--title-red)
    }

    100% {
      stroke-dasharray: 50% 0;
      // stroke-dashoffstet: -20%;
      fill: var(--title-red)
    }
  }

  .consent {
    background-color: gray;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    // right: calc(50% - 500px);
    width: 100%;
    padding: 20px;
    margin: 0 auto;

    &--close {
      transform: translateY(100%);
      transition: 1.5s;
    }

    &__body {
      margin: 0 auto;
      display: grid;
      gap: 10px;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      max-width: 1200px;
      // align-items: center;
    }

    &__text {
      font-size: 1em;
      color: white;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &__btn {
      padding: 8px;
      min-height: 30px;
      color: black;
      font-size: 1.1em;

      &--yes {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        // background-color: rgb(21, 192, 58);
      }

      // &--no {
      //   background-color: #eee;
      // }
    }
  }
}