@include media-up(lg) {

  .wrap {
    // padding-bottom: var(--gap-midle);

    &--footer {
      background-color: var(--color-background);
      box-shadow: var(--shadow-elevation-medium);
      border-top: 4px solid var(--color-muted);
    }
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
  }

  .block {
    position: relative;
    padding: var(--gap-midle) 0;

    &--hidden {
      overflow: hidden;

    }

    &--line {
      display: flex;
      align-items: center;
      gap: var(--gap-midle);
      // overflow: hidden;
    }

    &__title {
      margin-bottom: var(--gap-midle);

      &--order-2 {
        order: 2;
      }
    }

  }

  .title {
    text-align: center;
    color: var(--color-text);

    &__header {
      font-size: 4em;
      text-transform: uppercase;
      margin-top: var(--gap-midle);
      font-weight: 400;
    }

    &__text {
      margin: 0;
      font-weight: 600;
      font-size: 2.8em;
    }

    &__smal-text {
      font-size: 1.7em;
      font-weight: 600;
    }
  }

  .slider {
    z-index: 2;
    padding: 20px 0;
    display: flex;
    position: relative;

    // overflow: hidden;
    // &--header {
    //   gap: var(--gap-smal);
    // }

    &--feedback {
      gap: var(--gap-midle);
    }

    &__item {
      // height: auto;
      // width: 100%;
      margin-left: 15px;
      // display: flex;
      // gap: 20px;
    }

    &__img {
      height: auto;
      border-radius: 10px;
      width: 100%;
      box-shadow: var(--shadow-elevation-medium);
      position: relative;
      z-index: 2;
    }
  }

  .courseSlider {
    border: 1px solid red;
    // width: 400px;
  }

  // .slideGo {
  //   transform: translateY(100%);
  // }

  // .slideOut {
  //   transform: scale(0);
  // }

}