@include media-up(lg) {
  .wrap {
    padding: 120px 0 70px 0;
    overflow: hidden;

    &--header {
      padding: 100px 0 20px 0;
    }

    &--want {
      background-color: white;
      background-image:
        linear-gradient(90deg, var(--back-lightblue) 50%, transparent 50%),
        linear-gradient(var(--back-lightblue) 50%, transparent 50%);
      background-size: 50px 50px;
      position: relative;
      padding: 0;
    }

    &--offer {
      background-color: var(--back-lightred);
      border-top-left-radius: 350px;
    }

    &--feedback {
      background-color: var(--back-lightblue);
      background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%237d96a5' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    &--footer {
      background-color: var(--title-red);
      padding: 0;
    }
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
  }

  .title-section {
    display: block;
    text-align: center;
    margin-bottom: 50px;

    &--header {
      margin-bottom: 30px;
    }

    &__head {
      margin: 0;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2.8em;

      &--header {
        font-family: 'Kurale', serif;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 4em;
        color: var(--title-blue);
      }
    }

    &__text {
      font-size: 2em;
      margin-top: 10px;
      color: var(--title-gray);
      font-family: 'Kurale', serif;

      &--header {
        font-weight: 400;
        font-size: 2.6em;
      }
    }

    &__head--red {
      color: var(--title-red);
    }

    &__head--blue {
      color: var(--title-blue);
    }

    &__head--reviews {
      color: var(--title-gray);
    }
  }

  .header {
    position: relative;
    text-align: center;

    &__top {
      padding: 12px 20px;
      background-color: #eee;
      position: fixed;
      top: 0px;
      z-index: 3;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
    }
  }

  .logo {
    &__link {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1em;
      font-size: 1em;
      font-weight: 600;
      padding: 4px 8px;
      border-radius: 8px;
      color: var(--title-blue);
    }

    &__link:active,
    &__link:visited {
      text-decoration: none;
    }

    &__link:hover,
    &__link:focus {
      transition: 0.2s;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
      transform: translateY(-1px);
    }

    &__img {
      display: block;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      box-shadow: 0 0 10px 2px var(--title-blue);
    }

    &__text {
      font-weight: 600;
      font-family: 'Dancing Script', cursive;
      font-size: 1.4em;
      color: var(--title-blue);
    }
  }

  .language {
    display: flex;
    order: 3;
    gap: 2em;

    &__link {
      text-decoration: none;
      display: block;
      padding: 20px 15px;
      font-size: 1.2em;
      font-weight: 600;
      border-radius: 8px;
      color: var(--title-blue);
    }

    &__link:hover,
    &__link:focus {
      transition: 0.2s;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
      transform: translateY(-1px);
    }

    &__link--current {
      color: hsl(202, 34%, 68%);
      position: relative;
      transform: translateY(-1px);
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    }
  }

  .nav {
    flex-grow: 1;

    &__list {
      display: flex;
      justify-content: space-around;
    }

    &__link {
      text-decoration: none;
      display: inline-block;
      font-size: 1em;
      font-weight: 600;
      padding: 4px 8px;
      border-radius: 8px;
      color: var(--title-blue);
    }

    &__link:hover,
    &__link:focus {
      transition: 0.2s;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
      transform: translateY(-1px);
    }

    &__link svg {
      stroke-width: 1px;
      stroke: hsl(203, 40%, 40%);
    }

    &__text {
      color: currentColor;
      line-height: 1em;
    }
  }

  .header-menu {
    display: none;
  }

  .want {
    padding: 70px 0 40px 0;
    display: flex;
    flex-direction: column;
    position: relative;

    &__list {
      margin: 0 auto;
      width: 85%;
      display: grid;
      grid-template-columns: auto auto;
    }

    &__item {
      padding: 20px;
      font-size: 1.7em;
      color: var(--text-gray);
      font-weight: 600;
      display: grid;
      grid-template-columns: 70px auto;
      align-items: center;
      gap: 20px;
    }

    &__text {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 1.5em;
      color: var(--text-gray);
      display: inline-flex;
      position: relative;
      align-self: center;
    }

    &__text::before {
      position: absolute;
      content: "*";
      color: var(--title-gray);
      top: 0;
      left: -20px;
    }
  }

  .youtube {
    margin: auto;
    display: inline-block;

    &__link {
      margin: 0 auto;
      display: block;
      padding: 15px;
      height: 200px;
      overflow: hidden;
      position: relative;
    }

    &__link--preview {
      height: 150px;
    }

    &__link::before {
      position: absolute;
      content: "";
      background-image: url(../img/youtube.svg);
      background-size: cover;
      width: 60px;
      height: 60px;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      transition: 0.2s;
    }

    &__img {
      box-shadow: 0 0 7px 1px var(--text-gray);
      height: 100%;
      border-radius: 15px;
    }

    &__link:hover::before,
    &__link:focus::before {
      transform: scale(1.1);
      transition: 0.2s;
    }

    &__link:hover &__img,
    &__link:focus &__img {
      box-shadow: 0 0 5px 2px var(--title-red);
    }
  }

  .preview {
    border: 1px solid var(--title-blue);
    padding: 2em;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.61);
    box-shadow: 0 0 7px 1px var(--text-gray);
    margin-top: 50px;
    position: relative;

    &__img {
      position: absolute;
      top: 10px;
    }

    &__title {
      text-align: center;
      margin: 20px 0;
      text-transform: uppercase;
      color: var(--title-red);
      font-size: 1.6em;
    }
  }

  .preview-body {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 30% auto 30%;
    // justify-content: center;

    &__item {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      gap: 1em;
      position: relative;
    }

    &__item::before {
      content: "";
      border-top: 2px solid #6d6d6d;
      align-self: stretch;
    }

    &__text {
      font-size: 1.3em;
      color: var(--text-gray);
      order: -1;
    }

    &__img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 0 3px 1px var(--text-gray);
      transition: 0.3s;
    }

    &__img:hover,
    &__img:focus {
      transition: 0.3s;
      transform: scale(1.7) translateX(-40px) translateY(-10px);
    }

  }

  .video {
    width: min-content;
    justify-self: center;
    position: relative;
    background-color: silver;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    border: 1px solid #eee;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .4),
      0 2px 6px 2px rgba(60, 64, 67, .3),
      0 3px 8px 5px rgba(60, 64, 67, .2);

    &__btn {
      display: none;
    }

    &__file {
      border-radius: 15px;
      border: 4px solid var(--back-lightred);
      height: 350px;
      position: relative;
    }
  }

  .video::before,
  .video::after {
    position: absolute;
    content: "";
    border-radius: 5px;
    background-color: rgb(214, 213, 213);
  }

  .video::before {
    height: 4px;
    width: 30px;
    top: 3px;
    left: calc(50% - 15px);
    border-top: none;
  }

  .video:after {
    width: 70px;
    height: 6px;
    bottom: 4px;
    left: calc(50% - 35px);
    border: 1px solid #eee;
  }





  .about {
    padding: 20px 20px;
    border-radius: 20px;
    border: 4px solid var(--back-lightblue);
    box-shadow: 0 0 5px 1px var(--title-gray);
    position: relative;

    &__img {
      border-radius: 50%;
      border: 4px solid rgba(163, 202, 224, 0.6);

      &--top {
        height: 300px;
        position: absolute;
        top: 50px;
        left: -130px;
      }

      &--down {
        position: absolute;
        height: 200px;
        bottom: -30px;
        right: -80px;
      }
    }

    &__text {
      font-size: 1.5em;
      color: var(--text-gray);
      margin-bottom: 20px;
      text-indent: 30px;
      position: relative;
      display: inline-block;

      &--1::before {
        content: "";
        display: block;
        float: left;
        width: 180px;
        height: 200px;
        border-bottom-right-radius: 80%;
      }

      &--2 {
        margin-right: 60px;
      }

      &--3 {
        margin-right: 100px;
      }

      &--loccitane {
        font-weight: 600;
      }
    }
  }

  .offer {

    &__list {
      border: 2px solid white;
      border-radius: 30px;
      box-shadow: 0 0 10px 1px var(--title-gray);
      padding: 5px;
      position: relative;
      z-index: 2;
    }

    &__social {
      margin-top: 40px;
    }

    &__text {
      margin: 20px auto;
      text-align: center;
      padding-top: 30px;
      font-size: 1.5em;
      color: var(--text-gray);
      font-weight: 500;

      &--payment {
        text-transform: uppercase;
      }
    }

    &__phone {
      color: var(--social-link);
      font-weight: 600;
      transition: 0.4s;
      font-size: 1.2em;
    }

    &__phone:hover,
    &__phone:focus {
      color: var(--social-hover);
      transition: 0.4s;
    }
  }



  .offer-item {
    padding: 5px;
    // margin: 5px;
    position: relative;
    overflow: hidden;

    &__slider {
      // padding-top: 15px;
      margin: 20px 0;
    }

    &__head {
      position: relative;
    }

    &__btn {
      position: absolute;
      height: 86px;
      width: 99%;
      top: 12px;
      left: 0.3%;
      background-color: inherit;
      border: none;
      border-radius: 30px;
      cursor: pointer;
    }

    &__btn::after {
      display: block;
      float: right;
      content: "";
      width: 15px;
      height: 15px;
      margin-right: 5px;
      background-color: inherit;
      border-bottom: 3px solid var(--text-gray);
      border-right: 3px solid var(--text-gray);
      transform: rotate(180deg);
      border-top: 3px solid var(--text-gray);
      border-left: 3px solid var(--text-gray);
      transition: 0.5s;
    }

    &__btn--open::after {
      height: 25px;
      border-top: none;
      border-left: none;
      border-bottom: 3px solid var(--text-gray);
      border-right: 3px solid var(--text-gray);
      transform: translateX(-5px) rotate(45deg);
    }

    &__list {
      padding-bottom: 10px;
      position: relative;
    }

    &__body {
      display: none;
      padding-top: 10px;
    }

    &__body--open {
      display: block;
    }

    &__item {
      margin: 0px 20px 0px 20px;
      padding: 10px 20px 10px 20px;
      font-size: 1.3em;
      line-height: 1.4em;
      color: var(--text-gray);
      font-weight: 500;
      position: relative;
      list-style-type: disc;
    }

    &__item::marker {
      color: rgb(104, 11, 11);
    }

    &__img {
      box-shadow: 0 0 7px 1px var(--text-gray);
      height: 100%;
      border-radius: 15px;
      margin-top: 15px;
      display: block;
    }
  }



  .buy {
    margin: 0 0 20px 60px;
    display: flex;
    gap: 30px;

    &__link {
      padding: 15px;
      text-decoration: none;
      --shadow-color: 359deg 22% 54%;
      --shadow-elevation-medium:
        0px 0.1px 0.2px hsl(var(--shadow-color) / 0),
        0px 0.6px 0.9px hsl(var(--shadow-color) / 0.32),
        0px 1.6px 2.4px hsl(var(--shadow-color) / 0.64);
      box-shadow: var(--shadow-elevation-medium);
      background-color: whitesmoke;
      font-weight: bold;
      color: var(--text-gray);
    }

    &__link:hover,
    &__link:focus {
      color: black;
    }

    &__link:focus-visible {
      border: 1px solid var(--title-blue);
    }
  }

  .payment {
    &__item {
      position: relative;
      margin-bottom: 20px;
      // border-bottom: 2px solid #6d6d6d;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      position: relative;
      height: 100px;
    }

    &__title:before {
      content: "";
      border-left: 2px solid #6d6d6d;
      align-self: stretch;
      min-width: 90px;
    }

    &__logo {
      order: -1;
      min-width: 300px;
      // flex-grow: 1;
      color: var(--text-gray);
      text-transform: uppercase;
      font-size: 1.6em;
      font-weight: bold;
      text-align: start;
    }

    &__img {
      width: 315;
      height: auto;
    }

    &__head {
      font-size: 1.3em;
      color: var(--text-gray);
      flex-grow: 1;
      text-align: left;
    }

    &__btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

    &__btn::after {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
      background: white;
      border-radius: 50%;
      top: 37px;
      left: 342px;
      transition: 0.1s;
    }

    &__btn::before {
      content: "";
      position: absolute;
      top: 35px;
      left: 340px;
      border: 1px solid rgba(0, 0, 0, .1);
      width: 54px;
      height: 27px;
      border-radius: 25%/50%;
      background: #eee;
      box-shadow: 0 0 2px 1px var(--title-gray);
      transition: 0.1s;
    }

    &__btn--open::before {
      background: var(--back-green);
      transition: 0.1s;
    }

    &__btn--open::after {
      left: 370px;
      transition: 0.1s;
    }

    &__description {
      display: none;
      // background-color: #fff;

    }

    &__description--open {
      display: flex;
    }

    &__link {
      margin: 1rem;
      display: block;
    }

  }

  .p-description {
    font-size: 1.3em;
    // flex-direction: column;
    // justify-content: center;
    gap: 1rem;
    border-bottom: 2px solid #6d6d6d;
    padding: 0 0 1rem 0;
    position: relative;


    &__img {
      width: 230px;
      height: auto;
      // background-color: #6d6d6d;
      border-radius: 15px;

    }

    &__link {
      order: -1;
      margin-top: 10px;
      width: 300px;
      min-width: 300px;
      text-align: start;
    }

    &__text {
      // align-self: center;
      line-height: 2em;
      text-align: start;
      // display: inline-grid;
    }

    &__copy {

      padding: 5px 10px;
      border-radius: 5px;
      background-color: whitesmoke;
    }

    &__logo {
      display: flex;
      gap: 1rem;

    }

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }

    &__image {
      max-width: 300px;
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .p-description::before {
    content: "";
    border-left: 2px solid #6d6d6d;
    align-self: stretch;

  }

  .offer-i-head {
    &--top {
      border-top-color: var(--back-lightred);
    }

    margin: 0;
    font-size: 1.35em;
    color: var(--text-gray);
    font-weight: 600;
    border-top: 2px solid white;
    height: 90px;
    position: relative;
    display: flex;
    align-items: center;

    &__text {
      text-transform: uppercase;
      min-width: 430px;
      margin: 0;
      font-size: 1em;
    }

    &__cost {
      font-size: 1.35em;
      font-weight: 600;
      position: relative;
      border-radius: 8px;
      background-color: whitesmoke;
      padding: 5px 10px 5px 40px;
      border: 2px solid var(--title-blue);
    }

    &__cost::after,
    &__cost::before {
      position: absolute;
      content: "";
      left: 10px;
      height: 3px;
      width: 16px;
      background-color: var(--text-darkgray);
    }

    &__cost::after {
      top: 33%;
    }

    &__cost::before {
      top: 58%;
    }
  }

  .currency {
    box-shadow: 0 -4px 10px 0px var(--text-gray);
    position: relative;
    display: inline-flex;
    gap: 15px;
    padding: 7px 10px 10px 10px;
    left: 450px;
    // top: 0;
    // margin-left: auto;
    background-color: whitesmoke;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 2px solid var(--title-blue);
    border-bottom: none;
    z-index: 1;

    &__btn {
      font-size: 1.35em;
      border-radius: 0;
      border: none;
      padding: 5px 10px;
      margin: 0;
      background-color: inherit;
      color: var(--text-gray);
      transition: 0.2s;
    }

    &__btn:hover {
      color: var(--text-darkgray);
      transition: 0.2s;
      color: var(--title-red);
      transform: scale(1.4);
    }

    &__btn--current {
      transform: scale(1.4);
      transition: 0.2s;
      color: var(--title-red);
    }
  }

  .costs {
    // display: flex;
    // gap: 5px;
    // border: 1px solid red;
    // width: 110px;
    position: relative;
    // overflow: hidden;
    color: whitesmoke;

    &__label {
      overflow: hidden;
      width: 110px;
      // border: 1px solid red;
      position: relative;
    }

    &__box {
      display: flex;
      // width: 110px;
      color: var(--text-darkgray);
      position: absolute;
      top: 0px;
      left: -220px;
    }

    &__item {
      width: 110px;
    }

    &__box--left {
      transform: translateX(220px);
      transition: 0.5s;
    }

    &__box--center {
      transform: translateX(110px);
      transition: 0.5s;
    }

    &__box--right {
      transform: translateX(0px);
      transition: 0.5s;
    }

    &__indicate {
      position: absolute;
      display: flex;
      // justify-content: stretch;
      background-color: whitesmoke;
      // gap: 10px;
      top: 170%;
      left: 40px;
      // width: 110px;
      // border: 1px solid var(--text-darkgray);
    }


  }

  .feedback-slider,
  .slider-offer {
    &__list {
      padding: 20px 0;
      display: flex;
      text-align: center;
      position: relative;
    }

    &__item {
      width: 100%;
    }

    &__img {
      width: 100%;
      box-shadow: 0 0 7px 1px var(--text-gray);
      position: relative;
      z-index: 2;
    }
  }

  .slider-offer {

    &__item {
      height: auto;
    }

    &__img {
      height: auto;
      border-radius: 10px;
    }

    &__btn {
      position: absolute;
      bottom: 100px;
      left: 10px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: none;
      background-color: rgba(128, 128, 128, 0.4);
      transition: 0.2s;
    }

    &__btn:hover,
    &__btn:focus {
      transform: scale(1.1);
      transition: 0.2s;
    }
  }

  .feedback-slider {
    &__item {
      height: 350px;
      padding-left: 10px;
    }

    &__img {
      height: 100%;
      border-radius: 10px;
    }
  }

  .feedback {
    overflow: hidden;
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 50px;

    &__link {
      color: var(--social-link);
      display: block;
      margin: 0;
      padding: 0;
      transition: 0.4s;
      width: 60px;
      height: 60px;
    }

    &__link svg {
      width: 100%;
      height: 100%;
    }

    &__link:hover,
    &__link:focus {
      color: var(--social-hover);
      transform: scale(1.1) translateY(5px);
      transition: 0.4s;
    }
  }

  .footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 2.2em;
    color: var(--text-darkgray);
    --social-link: hsl(0, 20%, 30%);
    --social-hover: hsl(0, 80%, 20%);

    &__svg {
      height: 60px;
      width: 430px;
    }

    &__svg text {
      font-family: 'Glory', sans-serif;
      letter-spacing: 8px;
      stroke: var(--text-darkgray);
      font-size: 36px;
      line-height: 50px;
      font-weight: 700;
      stroke-width: 1px;
      animation: textAnimate 5s infinite alternate;
    }
  }

  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      // stroke-dashoffset: 20%;
      fill: var(--title-red)
    }

    100% {
      stroke-dasharray: 50% 0;
      // stroke-dashoffstet: 10%;
      fill: var(--title-red)
    }
  }
}