@include media-up(lg) {
  .wrap {
    padding: 120px 0 70px 0;
    overflow: hidden;

    &--header {
      padding: 100px 0 20px 0;
    }

    &--want {
      background-color: white;
      background-image:
        linear-gradient(90deg, var(--back-lightblue) 50%, transparent 50%),
        linear-gradient(var(--back-lightblue) 50%, transparent 50%);
      background-size: 50px 50px;
      position: relative;
      padding: 0;
    }

    &--errors {
      background-color: hsla(355, 57%, 95%, 0.2);
    }

    &--skils {
      position: relative;
    }

    &--skils::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-image: url(../img/want.webp);
      background-image: image-set(url('../img/want.webp') type('image/webp'),
          url('../img/want.jpg'));
      background-size: cover;
      bottom: 0;
      left: 0;
      opacity: 0.3;
      z-index: 1;
    }

    &--offer {
      background-color: var(--back-lightred);
      border-top-right-radius: 300px;
    }

    &--payment {
      background-color: var(--back-lightred);
      // border-top-left-radius: 350px;
      padding: 0;

    }

    &--feedback {
      background-color: var(--back-lightblue);
      background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%237d96a5' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    &--footer {
      background-color: var(--title-red);
      padding: 0;
    }
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
  }

  .title-section {
    display: block;
    text-align: center;
    margin-bottom: 50px;

    &--header {
      margin-bottom: 30px;
    }

    &__head {
      margin: 0;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2.8em;

      &--header {
        font-family: 'Kurale', serif;
        font-weight: 400;
        font-size: 4em;
        color: var(--title-blue);
      }

      &--left {
        text-align: left;
      }
    }

    &__text {
      font-size: 2em;
      margin-top: 10px;
      color: var(--title-gray);
      font-family: 'Kurale', serif;

      &--header {
        font-weight: 400;
        font-size: 2.6em;
      }

      &--want {
        margin-top: 30px;
      }
    }

    &__head--red {
      color: var(--title-red);
    }

    &__head--blue {
      color: var(--title-blue);
    }

    &__head--reviews {
      color: var(--title-gray);
    }
  }

  .feedback-slider,
  .slider-offer {

    &__list {
      z-index: 2;
      padding: 20px 0;
      display: flex;
      text-align: center;
      position: relative;
    }

    &__item {
      width: 100%;
    }

    &__img {
      width: 100%;
      box-shadow: 0 0 7px 1px var(--text-gray);
      position: relative;
      z-index: 2;
    }
  }

  .slider-offer {

    &__item {
      height: auto;
    }

    &__img {
      height: auto;
      border-radius: 10px;
    }

    // &__btn {
    //   position: absolute;
    //   bottom: 100px;
    //   left: 10px;
    //   height: 50px;
    //   width: 50px;
    //   border-radius: 50%;
    //   border: none;
    //   background-color: rgba(128, 128, 128, 0.4);
    //   transition: 0.2s;
    // }

    // &__btn:hover,
    // &__btn:focus {
    //   transform: scale(1.1);
    //   transition: 0.2s;
    // }
  }

  .social {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    gap: 30px;
    // flex-shrink: 1;
    z-index: 2;

    &__link {
      color: var(--social-link);
      display: block;
      margin: 0;
      padding: 0;
      transition: 0.4s;
      width: 50px;
      height: 50px;
    }

    &__link svg {
      width: 100%;
      height: 100%;
    }

    &__link:hover,
    &__link:focus {
      color: var(--social-hover);
      transform: scale(1.1) translateY(5px);
      transition: 0.4s;
    }

    &__img {
      display: block;
      width: 50px;
      height: 50px;
    }
  }

}