{% import "includes/errors/text-content-errors.html" as translate %}

<section class="wrap wrap--errors">

  <div class="container">

    <div class="block">
      <div class="block__title title">
        <h2 class="title__text">
          {{ translate.errorsTitle.title.ru }}
        </h2>
        <p class="title__smal-text">
          {{ translate.errorsTitle.subTitle.ru }}
        </p>
      </div>

      <ul class="block__section errors-img-sm">
        {% for item in translate.errors %}
        <li class="errors-img-sm__item">
          <picture class="errors-img-sm__picture">
            <source srcset="img/{{ item.img }}.webp" type="image/webp">
            <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="errors-img-sm__img" width="200" height="150"
              loading="lazy">
          </picture>
        </li>
        {% endfor %}
      </ul>

      <ul class="block__section errors">

        {% for item in translate.errorsTypes %}
        <li class="errors__item">{{ item.ru }}</li>
        {% endfor %}

        <li class="errors__item--img errors__item--img-xl">
          <ul class="errors-img-xl">

            {% for item in translate.errors %}
            <li class="errors-img-xl__item">
              <picture class="errors-img-xl__picture">
                <source srcset="img/{{ item.img }}.webp" type="image/webp">
                <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="errors-img-xl__img" width="200"
                  height="150" loading="lazy">
              </picture>
            </li>
            {% endfor %}

          </ul>
        </li>
      </ul>
    </div>

  </div>
</section>