{% set title = 'Macaron' %}
{% set lang = 'en' %}
{% set keywords = 'cake, macaron, macarons, macarons tutorial, how to cook macarons, macaroons,
macaron_by_elena' %}
{% set description = 'I teach to cook a delicious dessert - Macaron. Even if you are not a pastry chef, be sure to try
yourself in this role!' %}
{% set js = 'js/slider-en.js' %}
{% set buyBtn = 'js/buy-btn-en.js' %}

{% extends "templates/default.html" %}
{% import "includes/macros-data.html" as macrosData %}
{% import "includes/macros-text.html" as macrosText %}


{% macro imageSvg(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svg/sprite-black.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageSvgColor(name, class, width, height, alt) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}" aria-label="{{ alt }}">
  <use xlink:href='img/svg/sprite-color.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageJpg(classPicture, name, classImg, alt, width, height) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.jpg" alt="{{ alt }}" class="{{ classImg }}" width="{{ width }}" height="{{ height }}">
</picture>
{% endmacro %}
{% macro imagePng(classPicture, name, classImg, alt, width, height) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.png" alt="{{ alt }}" class="{{ classImg }}" width="{{ width }}" height="{{ height }}">
</picture>
{% endmacro %}

{% block content %}

{% include "includes/header/header-en.html" %}

<main class="main">

  {% include "includes/want/want-en.html" %}
  {% include "includes/errors/errors-en.html" %}
  {% include "includes/skils/skils-en.html" %}
  {% include "includes/feedback/feedback-en.html" %}
  {% include "includes/about/about-en.html" %}
  {% include "includes/offer/offer-en.html" %}
  {% include "includes/payment/payment-en.html" %}

  <!-- Подключаем независимые элементы -->
  {% include "includes/cookie/cookie-en.html" %}
  {% include "includes/lava/lava-en.html" %}

</main>

{% include "includes/footer/footer-en.html" %}

{% endblock %}