{% set title = 'Macaron' %}
{% extends "templates/default.html" %}

{% set sliderOfferCover = [
{img: "cover1", alt: "Пирожные макарон: красного и белого цвета с рисуночками."},
{img: "cover2", alt: "Пирожные макарон: сиреневого цвета со вкусом смородины, на фоне лаванды."},
{img: "cover3", alt: "Пирожные макарон: белого и сереневого цвета, на фоне синих цветов."},
{img: "cover4", alt: "Разноцветыне крышечки пирожных макарон."},
{img: "cover5", alt: "Роспись на макарон. Надпись: самой, лучше, подруге."},
{img: "cover7", alt: "Пирожные макарон в форме цветочка, ромашки."},
{img: "cover8", alt: "Пирожные макарон: разрисованные и разной формы для зимней тематики,"},
{img: "cover10", alt: "Пирожные макарон: белого и нежно-голубого цвета разукрашенного в тематику - Париж."},
{img: "cover12", alt: "Набор пирожн макарон: разной формы, разных цветов, разных начинок."},
{img: "cover13", alt: "Набор пирожных макарон в постельных тонах."},
{img: "cover14", alt: "Пирожные макарон в форме микимауса."}
]%}
{% set sliderOfferCream = [
{img: "cream1", alt: "Начинка для макарон: классический ганаш с малиной, сникерс с орехом."},
{img: "cream2", alt: "Начинка для макарон: классический ганаш с клубникой."},
{img: "cream3", alt: "Начинка для макарон: вид в разрезе, ванильный ганаш с вишней."},
{img: "cream5", alt: "Начинка для макарон: классический ганаш со смородиной, кокосом, манго."},
{img: "cream7", alt: "Готовые макарон, разных вкусов, на красивой многоярусной подставке."},
{img: "cream8", alt: "Розовые макарон, на фоне лепестков роз. Вид в разрезе вкус манго и смородина."},
{img: "cream9", alt: "Сиреневые макарон с мятной начинкой, на фоне синих цветов."}
]%}
{% set sliderFeedback = [
{img: "feedback1", alt: "Отзыв о пирожных: первый раз пробовала такую вкуснятину. Даже сфотографировать не успела, сразу
все съели."},
{img: "feedback2", alt: "Отзыв о пирожных: все остались просто в восторге, даже те кто сам их профессионально
готовит."},
{img: "feedback3", alt: "Отзыв о пирожных: спасибо большое за вкуснятику."},
{img: "feedback4", alt: "Отзыв об успехах ученика, на фото хорошие макарон и подпись: спасибо, кажется уже лучше."},
{img: "feedback5", alt: "Отзыв об успехах ученика, на фото хорошие макарон и подпись: спасибо Леночка за
мастер-класс."},
{img: "feedback6", alt: "Успех ученика: на фото хорошие крышечки макарон с начинкой."},
{img: "feedback7", alt: "Успех ученика: на фото хорошие начинки, которые получились после обучения."},
{img: "feedback8", alt: "Успех ученика: на фото хорошие крышечки макарон, после попыток подобрать хорошую температуру
духовки."},
{img: "feedback9", alt: "Отзыв об успехов ученика: первый раз готовила макарон на мастер-классе, и посмотрите какая
красота сразу получилась."},
{img: "feedback10", alt: "Отзыв об успехов ученика: спасибо тебе большое, твой мастер класс был замечательным, теперь и
я влюблена в макарон."},
{img: "feedback11", alt: "Фото Елены, зимой, с коробочкой макарон разных вкусов и цветов."}
]%}
{% set sliderOfferEskimo = [
{img: "eskimo1", alt: "Чизкейк-эскимо: в розовой глазури, украшен розами."},
{img: "eskimo2", alt: "Чизкейк-эскимо: в чёрной глазури, украшен золотой крошлой и белым шоколадом."},
{img: "eskimo4", alt: "Чизкейк-эскимо: в фисташковой глазури, украшен фисташками и клубникой."},
{img: "eskimo5", alt: "Чизкейк-эскимо: в белом шоколаде, украшен золотой крошкой."},
{img: "eskimo7", alt: "Чизкейк-эскимо в разрезе, с малиновым вкусом."},
{img: "eskimo8", alt: "Набор из 8 штук чизкейк-эскимо в коробке."},
{img: "eskimo10", alt: "Набор из 6 штук чизкейк-эскимо, шоколадные и смородиновые."}
]%}

{% macro imageSvg(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svg/sprite-black.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageSvgColor(name, class, width, height, alt) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}" aria-label="{{ alt }}">
  <use xlink:href='img/svg/sprite-color.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageJpg(classPicture, name, classImg, alt, width, height) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.jpg" alt="{{ alt }}" class="{{ classImg }}" width="{{ width }}" height="{{ height }}">
</picture>
{% endmacro %}
{% macro imagePng(classPicture, name, classImg, alt, width, height) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.png" alt="{{ alt }}" class="{{ classImg }}" width="{{ width }}" height="{{ height }}">
</picture>
{% endmacro %}

{% block content %}

<header class="header-wrap">
  <div class="container">
    <div class="header">
      <div class="header__logo logo">
        <a href="https://www.instagram.com/macaron_by_elena" class="logo__link" aria-label="instagram">
          {{ imageJpg('logo__picture', 'logo', 'logo__img', 'Логотип. Пирожное макарон от Елены.', '150', '150') }}
          <div class="logo__text">macaron_by_elena</div>
        </a>
      </div>
      <div class="header__title">
        <h1 class="header__head">Пирожные Макарон</h1>
        <p class="header__text">изысканный французский десерт - легко и просто</p>
      </div>
    </div>
    <nav class="hidden-text header__nav nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#question">Что многие думают - когда речь идёт о макарон</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#want">Что нужно чтобы научиться их готовить</a></li>
        <li class="nav__item"><a class="nav__link" href="#about">Немного обо мне и о макарон</a></li>
        <li class="nav__item"><a class="nav__link" href="#offer">Предлогаю купить мой рецепт приготовления</a></li>
        <li class="nav__item"><a class="nav__link" href="#feedback">Отзывы из инстаграмм</a></li>
      </ul>
    </nav>
  </div>
</header>

<main class="main">

  <section class="question-wrap">
    <div class="container">
      <div class="question" id="question">
        <div class="question__title title-section">
          <h2 class="title-section__head title-section__head--blue">Проверь себя</h2>
          <p class="title-section__text">Что ты знаешь о макарон?</p>
        </div>
        <ul class="question__list">
          <li class="question__item question-item">
            <input type="checkbox" id="question-item-cost" class="question-item__checkbox hidden-text">
            <label for="question-item-cost" class="question-item__label"
              aria-label="Показать или скрыть приставку, не."></label>
            <span class="question-item__hidden-text">Не</span>
            <div class="question-item__text">Очень дорогой десерт</div>
          </li>
          <li class="question__item question-item">
            <input type="checkbox" id="question-item-hard" class="question-item__checkbox hidden-text">
            <label for="question-item-hard" class="question-item__label"
              aria-label="Показать или скрыть приставку, не."></label>
            <span class="question-item__hidden-text">Не</span>
            <div class="question-item__text">Сложно приготовить</div>
          </li>
          <li class="question__item question-item">
            <input type="checkbox" id="question-item-taysty" class="question-item__checkbox hidden-text">
            <label for="question-item-taysty" class="question-item__label"
              aria-label="Показать или скрыть приставку, да."></label>
            <span class="question-item__hidden-text">Да!</span>
            <div class="question-item__text">Невероятно вкусный</div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="want-wrap">
    <div class="container">
      <div class="want" id="want">
        <div class="want__title title-section">
          <h2 class="title-section__head title-section__head--red">Хочешь научиться их готовить?</h2>
          <p class="title-section__text">для этого нужно - "всего ничего"</p>
        </div>
        <ul class="want__list">
          <li class="want__item">
            {{ imageSvgColor('electriс', 'svgcolor', '70', '100', 'Электрическая духовка.') }}
            Эллектрическая духовка
          </li>
          <li class="want__item">
            {{ imageSvgColor('mixer', 'svgcolor', '70', '100', 'Миксер.') }}
            Миксер
          </li>
          <li class="want__item">
            {{ imageSvgColor('thermometer', 'svgcolor', '70', '100', 'Термометр.') }}
            Термометр
          </li>
          <li class="want__item">
            {{ imageSvgColor('scales', 'svgcolor', '70', '100', 'Кухонные весы.') }}
            Весы
          </li>
          <li class="want__item">
            {{ imageSvgColor('teflon', 'svgcolor', '70', '100', 'Тефлоновый коврик.') }}
            Тефлоновый коврик
          </li>
          <li class="want__item">
            {{ imageSvgColor('saucepan', 'svgcolor', '70', '100', 'Сотейник.') }}
            Сотейник
          </li>
          <li class="want__item">
            {{ imageSvgColor('cream', 'svgcolor', '70', '100', 'Кондитерский мешок.') }}
            Кондитерский мешок
          </li>
          <li class="want__item">
            {{ imageSvgColor('ingredients', 'svgcolor', '70', '100', 'Ингридиенты.') }}
            Немного ингридиентов
          </li>
        </ul>
        <p class="want__text">и самое главное - тот кто подскажет как это всё использовать
        </p>
        {{ imageSvgColor('cook', 'svgcolor want__svg-end', '70', '100', 'Девушка повор.') }}
      </div>
    </div>
  </section>

  <section class="about-wrap">
    <div class="container">
      <div class="about" id="about">
        <div class="about__title title-section">
          <h2 class="title-section__head title-section__head--blue">Познакомимся?</h2>
          <p class="title-section__text">Как я пришла к макарон!</p>
        </div>
        <div class="about__story">
          {{ imageJpg('about__picture about__picture1', 'about1', 'about__img about__img1', 'На фото, Елена предлагает
          рассказать о
          себе', '300', '300') }}
          <p class="about__text about__text1">
            Однажды на открытии французского магазина <span class="about__text--loccitane">L’Occitane</span>,
            нас угощали пирожными Макарон. Никогда в
            жизни я не пробовала такого вкуснейшего нежного десерта. После этого я начала искать и искать хотябы что-то
            подобное. Но к сожалению ни в одном магазине такое не купишь. Только в хороших дорогих кофейнях можно найти
            вкусные макарон, да и то, если они свежеприготовленны и правильно хранятся. Ведь их срок годности 3-4 дня.
            Именно поэтому я решила сама научиться их готовить!
          </p>
          <p class="about__text about__text2">
            Потратив на это год, поменяв духовку с газовой на электрическую, просмотрев кучу сайтов, переведя очень
            много продуктов: я вывела стабильный рецепт приготовления.
          </p>
          <p class="about__text about__text3">
            Со мной у вас обязательно получатся пирожные макарон, потому что я открою вам небольшой секрет в их
            приготовлении.
            Благодаря ему - эти капризные десерты получатся у каждого. Не важно кондитер вы или только встаёте на
            этот путь!
          </p>
          {{ imageJpg('about__picture about__picture2', 'about2', 'about__img about__img2', 'На фото, Елена c кофе и
          вкуснейшим
          макарон', '200', '200') }}
        </div>
      </div>
    </div>
  </section>

  <section class="offer-wrap">
    <div class="container">
      <div class="offer" id="offer">

        <div class="offer__title title-section">
          <h2 class="title-section__head title-section__head--blue">Моё предложение</h2>
          <p class="title-section__text">точнее - их даже несколько</p>
          <div class="offer__video offer-video">
            <a href="https://youtu.be/Wk9ebUADpCg" class="offer-video__link">
              <picture class="offer-video__picture">
                <source srcset="img/video-cover.webp" type="image/webp">
                <img src="img/video-cover.jpg" alt="Обложка для видео
                инструкции. Приглашение." class="offer-video__img">
              </picture>
            </a>
          </div>
        </div>

        <div class="offer__body">
          <ul class="offer__list">
            <li class="offer__item offer-item">

              <h3 class="offer-item__title offer-i-head offer-i-head--top">
                <span class="offer-i-head__text">Пирожные макарон и начинки</span>
                <span class="offer-i-head__cost">2 000 ₽</span>
              </h3>
              <button type="button" class="offer-item__btn offer-item__btn--1"
                aria-label="Показать (скрыть) список того, что в это входит"></button>
              <div class="offer-item__body">
                <ol class="offer-item__list">
                  <li class="offer-item__item">Тех. карта с подробным описанием всего процесса приготовления пирожных
                    макарон, с
                    рецептом крышечек на итальянской меренге с
                    пониженным содержанием сахара. Файл PDF на 20 стр.
                  </li>
                  <li class="offer-item__item">Руководство по покупке инвентаря со ссылками на онлайн магазины.</li>
                  <li class="offer-item__item">Трафареты для выпекания крышечек.</li>
                  <li class="offer-item__item">Тех. карта с подробным описанием процесса приготовления начинок разных
                    вкусов. Файл PDF
                    на 20 стр.
                  </li>
                  <li class="offer-item__item">Видео всего процесса приготовления пирожных.</li>
                  <li class="offer-item__item">Видео приготовления различных базовых начинок.</li>
                  <li class="offer-item__item">Видео о том, как делать роспись и выпекать фигурные
                    макарон.</li>

                  <li class="offer-item__item">Мой секретный ингредиент с которым у вас
                    обязательно получится довести макарон до уровня
                    продаж.</li>
                  <li class="offer-item__item offer-item__item--slider">
                    <ul class="slider-offer slider-offer-cover1">
                      {% for item in sliderOfferCover %}
                      <li class="slider-offer__item">
                        <picture class="slider-offer__picture">
                          <source srcset="img/{{ item.img }}.webp" type="image/webp">
                          <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img" height="200">
                        </picture>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ol>
                <div class="offer-item__buy buy">
                  <a href="#payment-block" class="buy__link">Перейти к оплате</a>
                </div>
              </div>

            </li>
            <li class="offer__item offer-item">
              <h3 class="offer-item__title offer-i-head">
                <span class="offer-i-head__text">Отдельно начинки</span>
                <span class="offer-i-head__cost">1 000 ₽</span>
              </h3>
              <button type="button" class="offer-item__btn"
                aria-label="Показать (скрыть) список того, что в это входит"></button>
              <div class="offer-item__body">
                <ol class="offer-item__list">
                  <li class="offer-item__item">Тех. карта с подробным описанием процесса приготовления начинок разных
                    вкусов. Файл PDF
                    на 20 стр.
                  </li>
                  <li class="offer-item__item">Ванильный ганаш на белом шоколаде.</li>
                  <li class="offer-item__item">Классический ганаш на молочном шоколаде.</li>
                  <li class="offer-item__item">Классический ганаш на тёмном шоколаде.</li>
                  <li class="offer-item__item">Фруктовый ягодный ганаш.</li>
                  <li class="offer-item__item">Взбитый ганаш на белом шоколаде.</li>
                  <li class="offer-item__item">Взбитый ганаш "Пряничное латте".</li>
                  <li class="offer-item__item">Начинка "Вишня в шоколаде".</li>
                  <li class="offer-item__item">Начинка "Пряное яблоко".</li>
                  <li class="offer-item__item">Начинка "Сникерс с солёной карамелью"</li>
                  <li class="offer-item__item">Начинка "Бри-Груша"</li>
                  <li class="offer-item__item">Варианты ароматизации: фисташками,
                    кокосом,
                    мятой, лавандой, ванилью.</li>
                  <li class="offer-item__item">Видео приготовления различных базовых начинок.</li>
                  <li class="offer-item__item offer-item__item--slider">
                    <ul class="slider-offer slider-offer-cream1">
                      {% for item in sliderOfferCream %}
                      <li class="slider-offer__item">
                        <picture class="slider-offer__picture">
                          <source srcset="img/{{ item.img }}.webp" type="image/webp">
                          <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img" height="200">
                        </picture>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ol>
                <div class="offer-item__buy buy">
                  <a href="#payment-block" class="buy__link">Перейти к оплате</a>
                </div>
              </div>

            </li>
            <li class="offer__item offer-item">
              <h3 class="offer-item__title offer-i-head">
                <span class="offer-i-head__text">Эскимо - Чизкейк</span>
                <span class="offer-i-head__cost">1 000 ₽</span>
              </h3>
              <button type="button" class="offer-item__btn"
                aria-label="Показать (скрыть) список того, что в это входит"></button>
              <div class="offer-item__body">

                <ol class="offer-item__list">
                  <li class="offer-item__item">Подробное описание процесса приготовления Эскимо-Чизкейк. Файл PDF
                    на 11 стр.
                  </li>
                  <li class="offer-item__item">Видео всего процесса приготовления.</li>
                  <li class="offer-item__item">Начинки: фруктово-ягодное конфи, пряное яблоко, солёная карамель,
                    варианты
                    ароматизации фисташковой пастой, кокосовой и другими.
                  </li>
                  <li class="offer-item__item offer-item__item--slider">
                    <ul class="slider-offer slider-offer-eskimo">
                      {% for item in sliderOfferEskimo %}
                      <li class="slider-offer__item">
                        <picture class="slider-offer__picture">
                          <source srcset="img/{{ item.img }}.webp" type="image/webp">
                          <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider-offer__img" height="200">
                        </picture>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ol>
                <div class="offer-item__buy buy">
                  <a href="#payment-block" class="buy__link">Перейти к оплате</a>
                </div>
              </div>

            </li>
            <li class="offer__item offer-item">
              <h3 class="offer-item__title offer-i-head">
                <span class="offer-i-head__text">Всё с моей поддержикой</span>
                <span class="offer-i-head__cost">4 000 ₽</span>
              </h3>
              <button type="button" class="offer-item__btn"
                aria-label="Показать (скрыть) список того, что в это входит"></button>
              <div class="offer-item__body">
                <ol class="offer-item__list">

                  <li class="offer-item__item">Все видео и PDF инструкции по приготовлению макарон и начинок.</li>
                  <li class="offer-item__item">Видео и PDF инструкции по приготовлению эскимо-чизкейков.</li>
                  <li class="offer-item__item">Консультация, ответы на
                    вопросы, разбор ошибок, помощь в доведении до уровня продаж.
                    {{ imageJpg('offer-item__picture', 'help', 'offer-item__img', 'Скриншот чата, где покупатель
                    просит
                    срочной помощи.', '250', '200') }}</li>
                </ol>
                <div class="offer-item__buy buy">
                  <a href="#payment-block" class="buy__link">Перейти к оплате</a>
                </div>
              </div>

            </li>
          </ul>
          <div class="offer__contact">
            <p id="payment-block" class="offer__text">Напишите мне если у вас есть какие-либо вопросы по курсу или если вы не уверены какой способ оплаты выбрать.</p>
            <ul class="offer__social social">
              <li class="social__item">
                <a href="https://t.me/macaron_by_elena" class="social__link" aria-label="Ссылка на telegram.">
              
                  {{ imagePng('social__picture', 'telegramm', 'social__img', 'Ссылка на телеграм', '55', '55') }}
                </a>
              </li>
              <li class="social__item">
                <a href="whatsapp://send?phone=+79958850643" class="social__link" aria-label="Ссылка на whatsapp.">
                
                  {{ imagePng('social__picture', 'whatsapp', 'social__img', 'Ссылка на вотсапп', '55', '55') }}
                </a>
              </li>
              <li class="social__item">
                <a href="https://www.instagram.com/macaron_by_elena" class="social__link"
                  aria-label="Ссылка на instagram.">
                  {{ imagePng('social__picture', 'instagram', 'social__img', 'Ссылка на инстаграмм', '55', '55') }}
                </a>
              </li>
            </ul>
            <p  class="offer__text offer__text--payment">Способы оплаты</p>
            <ul class="offer__payment payment">

              <li class="payment__item">
                <div class="payment__title">

                  <picture class="payment__logo">
                    <source srcset="img/tin.webp" type="image/webp">
                    <img src="img/tin.png" alt="tinkof" class="payment__img" height="95" width="300">
                  </picture>

                  <div class="payment__head">Перевод в Русский Тиньков банк с карты или через "Систему Быстрых Платежей"</div>

                </div>
                <button type="button" class="payment__btn" aria-label="Показать (скрыть) список того, что в это входит"></button>
                <div class="payment__description">
                  
                   {{ imagePng('payment__logo', 'qr-tinkof', 'payment__img', 'Логотип банка Зираат', '300', '300') }}
                  <a href="https://www.tinkoff.ru/rm/pronina.elena14/YlldH91188" class="payment__link" aria-label="Ссылка на оплату через Тинькоф.">
                    Перейти не страницу банка для перевода с карты.
                    </a>
                  <p>Для перевода через СБП: <span class="payment__copy">+7 (995) 885-06-43</span> Елена П.</p>
                </div>
              </li>

              <li class="payment__item">
                <div class="payment__title">

                  <picture class="payment__logo">
                    <source srcset="img/zir.webp" type="image/webp">
                    <img src="img/zir.png" alt="ziraat" class="payment__img" height="64" width="300">
                  </picture>

                  <div class="payment__head">Перевод в Турецкий Ziraat Bank по номеру IBAN, или по номеру карты.</div>
                </div>
                <button type="button" class="payment__btn" aria-label="Показать (скрыть) список того, что в это входит"></button>
                <div class="payment__description">
                  {{ imageJpg('payment__picture', 'qr-ziraat', 'payment__img', 'QR-код для сканирования', '300', '300') }}
                  <p>Отсканируйте QR-код приложением банка или используйте эти реквизиты для перевода: <span class="payment__copy">TR53 0001 0090 1017 5005 9050 01</span> Elena Pronina.</p>
                  
                </div>
              </li>
              <li class="payment__item">
                <div class="payment__title">
                  {{ imagePng('payment__logo', 'change', 'payment__img', 'Логотип банка Зираат', '100', '100') }}

                  <div class="payment__head">Перевод с помощью системы денежных переводов</div>
                </div>
                <button type="button" class="payment__btn" aria-label="Показать (скрыть) список того, что в это входит"></button>
                <div class="payment__description">
                  <p>Информация для денеженого перевод: <span class="payment__copy"> Турция, Анталия, Elena Pronina, +90 (551) 687-04-73</span>.</p>
                  {{ imagePng('payment__logo', 'westernunion', 'payment__img', 'Логотип банка Зираат', '315', '100') }}
                  {{ imagePng('payment__logo', 'monegr', 'payment__img', 'Логотип банка Зираат', '315', '100') }}
                  {{ imageSvgColor('zolotayakorona', 'svgcolor payment__logo', '250', '100', '') }}
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="feedback-wrap">
    <div class="container">
      <div class="feedback" id="feedback">
        <div class="feedback__title title-section">
          <h2 class="title-section__head title-section__head--reviews">Well of reviews</h2>
        </div>
        <ul class="feedback__slider feedback-slider">
          {% for item in sliderFeedback %}
          <li class="feedback-slider__item">
            <picture class="feedback-slider__picture">
              <source srcset="img/{{ item.img }}.webp" type="image/webp">
              <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="feedback-slider__img">
            </picture>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

</main>

<footer class="footer-wrap">
  <div class="container">
    <div class="footer">
      <ul class="footer__social social">
        <li class="social__item">
          <a href="https://t.me/macaron_by_elena" class="social__link" aria-label="telegram">
            {{ imageSvg('telegram', 'svg', '55', '55') }}
          </a>
        </li>
        <li class="social__item">
          <a href="whatsapp://send?phone=+79958850643" class="social__link" aria-label="whatsapp">
            {{ imageSvg('whatsap', 'svg', '55', '55') }}
          </a>
        </li>
        <li class="social__item">
          <a href="https://www.instagram.com/macaron_by_elena" class="social__link" aria-label="instagram">
            {{ imageSvg('instagram', 'svg', '55', '55') }}
          </a>
        </li>
      </ul>
      <div class="footer__logo">
        <svg width="100%" height="100%" class="footer__svg">
          <defs>
            <pattern id="polka-dots" x="0" y="0" width="100" height="100" patternUnits="userSpaceOnUse">
              <circle fill="#be9ddf" cx="25" cy="25" r="3"></circle>
            </pattern>
            <style></style>
          </defs>
          <text x="50%" y="60%" text-anchor="middle">
            macaron_by_elena
          </text>
        </svg>
      </div>
      <p class="footer__text">2021</p>
    </div>
  </div>
</footer>
{% endblock %}