{% set title = 'Macaron' %}
{% extends "templates/default.html" %}

{% set sliderOfferBase = [
{img: "cover1", alt: "Пирожные макарон: красного и белого цвета с рисуночками."},
{img: "cover2", alt: "Пирожные макарон: сиреневого цвета со вкусом смородины, на фоне лаванды."},
{img: "cover3", alt: "Пирожные макарон: белого и сереневого цвета, на фоне синих цветов."},
{img: "cover4", alt: "Разноцветыне крышечки пирожных макарон."},
{img: "cover5", alt: "Роспись на макарон. Надпись: самой, лучше, подруге."},
{img: "cover6", alt: "Пирожные макарон с красивой начинкой."},
{img: "cover7", alt: "Пирожные макарон в форме цветочка, ромашки."},
{img: "cover8", alt: "Пирожные макарон: разрисованные и разной формы для зимней тематики."},
{img: "cover9", alt: "Пирожные макарон бордового цвета."},
{img: "cover10", alt: "Пирожные макарон: белого и нежно-голубого цвета разукрашенного в тематику - Париж."},
{img: "cover11", alt: "Пирожные макарон и украшенные чизкейки для продажи."},
{img: "cover12", alt: "Набор пирожн макарон: разной формы, разных цветов, разных начинок."},
{img: "cover13", alt: "Набор пирожных макарон в постельных тонах."},
{img: "cover14", alt: "Пирожные макарон в форме микимауса."},
{img: "cream2", alt: "Макарон с начинкой."},
{img: "cream4", alt: "Крышечки макарон с начинкой, готовые для закрытия."},
{img: "cream5", alt: "Начинка для макарон: классический ганаш со смородиной, кокосом, манго."},
{img: "cream7", alt: "Готовые макарон, разных вкусов, на красивой многоярусной подставке."},
{img: "cream8", alt: "Розовые макарон, на фоне лепестков роз. Вид в разрезе вкус манго и смородина."},
{img: "cream9", alt: "Белые и сиреневые макарон."},
{img: "eskimo9", alt: "Набор чизкейк-эскимо в коробке."},
{img: "cream10", alt: "Крышечка макарон с начинкой сникерс."},
{img: "cream11", alt: "Крышечка макарон с шоколадной начинкой."},
{img: "cream12", alt: "Крышечка макарон с ванильной начинкой."},
{img: "cream13", alt: "Разноцветные пирожные с разной начинкой."},
{img: "cream14", alt: "Крышечка макарон с мятной начинкой."},
{img: "eskimo8", alt: "Набор чизкейк-эскимо в коробке."},
{img: "cream15", alt: "Разломанная крышечка пополам."},
{img: "cream16", alt: "Крышечка макарон с ягодной начинкой."},
{img: "cream17", alt: "Крышечка макарон с фруктовой начинкой."},
{img: "eskimo3", alt: "Чизкейк-эскимо: в чёрной глазури."},
{img: "eskimo6", alt: "Чизкейк-эскимо: в чёрной глазури."},
{img: "eskimo10", alt: "Набор чизкейк-эскимо в коробке."}
]%}
{% set sliderOfferCover = [
{img: "cover1", alt: "Пирожные макарон: красного и белого цвета с рисуночками."},
{img: "cover2", alt: "Пирожные макарон: сиреневого цвета со вкусом смородины, на фоне лаванды."},
{img: "cover3", alt: "Пирожные макарон: белого и сереневого цвета, на фоне синих цветов."},
{img: "cover4", alt: "Разноцветыне крышечки пирожных макарон."},
{img: "cover5", alt: "Роспись на макарон. Надпись: самой, лучше, подруге."},
{img: "cover6", alt: "Роспись на макарон. Надпись: самой, лучше, подруге."},
{img: "cover7", alt: "Пирожные макарон в форме цветочка, ромашки."},
{img: "cover8", alt: "Пирожные макарон: разрисованные и разной формы для зимней тематики,"},
{img: "cover9", alt: "Пирожные макарон: разрисованные и разной формы для зимней тематики,"},
{img: "cover10", alt: "Пирожные макарон: белого и нежно-голубого цвета разукрашенного в тематику - Париж."},
{img: "cover11", alt: "Пирожные макарон: белого и нежно-голубого цвета разукрашенного в тематику - Париж."},
{img: "cover12", alt: "Набор пирожн макарон: разной формы, разных цветов, разных начинок."},
{img: "cover13", alt: "Набор пирожных макарон в постельных тонах."},
{img: "cover14", alt: "Пирожные макарон в форме микимауса."}
]%}
{% set sliderOfferCream = [
{img: "cream1", alt: "Начинка для макарон: классический ганаш с малиной, сникерс с орехом."},
{img: "cream2", alt: "Начинка для макарон: классический ганаш с клубникой."},
{img: "cream3", alt: "Начинка для макарон: вид в разрезе, ванильный ганаш с вишней."},
{img: "cream4", alt: "Начинка для макарон: вид в разрезе, ванильный ганаш с вишней."},
{img: "cream5", alt: "Начинка для макарон: классический ганаш со смородиной, кокосом, манго."},
{img: "cream6", alt: "Начинка для макарон: классический ганаш со смородиной, кокосом, манго."},
{img: "cream10", alt: "Розовые макарон, на фоне лепестков роз. Вид в разрезе вкус манго и смородина."},
{img: "cream11", alt: "Розовые макарон, на фоне лепестков роз. Вид в разрезе вкус манго и смородина."},
{img: "cream12", alt: "Розовые макарон, на фоне лепестков роз. Вид в разрезе вкус манго и смородина."},
{img: "cream13", alt: "Розовые макарон, на фоне лепестков роз. Вид в разрезе вкус манго и смородина."},
{img: "cream14", alt: "Розовые макарон, на фоне лепестков роз. Вид в разрезе вкус манго и смородина."},
{img: "cream15", alt: "Розовые макарон, на фоне лепестков роз. Вид в разрезе вкус манго и смородина."},
{img: "cream16", alt: "Розовые макарон, на фоне лепестков роз. Вид в разрезе вкус манго и смородина."},
{img: "cream17", alt: "Сиреневые макарон с мятной начинкой, на фоне синих цветов."}
]%}
{% set sliderFeedback = [
{img: "feedback1", alt: "Отзыв о пирожных: первый раз пробовала такую вкуснятину. Даже сфотографировать не успела, сразу
все съели."},
{img: "feedback2", alt: "Отзыв о пирожных: все остались просто в восторге, даже те кто сам их профессионально
готовит."},
{img: "feedback3", alt: "Отзыв о пирожных: спасибо большое за вкуснятику."},
{img: "feedback4", alt: "Отзыв об успехах ученика, на фото хорошие макарон и подпись: спасибо, кажется уже лучше."},
{img: "feedback5", alt: "Отзыв об успехах ученика, на фото хорошие макарон и подпись: спасибо Леночка за
мастер-класс."},
{img: "feedback6", alt: "Успех ученика: на фото хорошие крышечки макарон с начинкой."},
{img: "feedback7", alt: "Успех ученика: на фото хорошие начинки, которые получились после обучения."},
{img: "feedback8", alt: "Успех ученика: на фото хорошие крышечки макарон, после попыток подобрать хорошую температуру
духовки."},
{img: "feedback9", alt: "Отзыв об успехов ученика: первый раз готовила макарон на мастер-классе, и посмотрите какая
красота сразу получилась."},
{img: "feedback10", alt: "Отзыв об успехов ученика: спасибо тебе большое, твой мастер класс был замечательным, теперь и
я влюблена в макарон."},
{img: "feedback11", alt: "Отзыв об успехов ученика: спасибо тебе большое, твой мастер класс был замечательным, теперь и
я влюблена в макарон."},
{img: "feedback12", alt: "Отзыв об успехов ученика: спасибо тебе большое, твой мастер класс был замечательным, теперь и
я влюблена в макарон."},
{img: "feedback13", alt: "Отзыв об успехов ученика: спасибо тебе большое, твой мастер класс был замечательным, теперь и
я влюблена в макарон."},
{img: "feedback14", alt: "Фото Елены, зимой, с коробочкой макарон разных вкусов и цветов."}
]%}
{% set sliderOfferEskimo = [
{img: "eskimo1", alt: "Чизкейк-эскимо: в розовой глазури, украшен розами."},
{img: "eskimo2", alt: "Чизкейк-эскимо: в чёрной глазури, украшен золотой крошлой и белым шоколадом."},
{img: "eskimo9", alt: "Набор из 8 штук чизкейк-эскимо в коробке."},
{img: "eskimo3", alt: "Чизкейк-эскимо: в чёрной глазури, украшен золотой крошлой и белым шоколадом."},
{img: "eskimo4", alt: "Чизкейк-эскимо: в фисташковой глазури, украшен фисташками и клубникой."},
{img: "eskimo8", alt: "Набор из 8 штук чизкейк-эскимо в коробке."},
{img: "eskimo5", alt: "Чизкейк-эскимо: в белом шоколаде, украшен золотой крошкой."},
{img: "eskimo6", alt: "Чизкейк-эскимо: в белом шоколаде, украшен золотой крошкой."},
{img: "eskimo7", alt: "Чизкейк-эскимо в разрезе, с малиновым вкусом."},


{img: "eskimo10", alt: "Набор из 8 штук чизкейк-эскимо в коробке."}
]%}

{% macro imageSvg(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svg/sprite-black.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageSvgColor(name, class, width, height, alt) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}" aria-label="{{ alt }}">
  <use xlink:href='img/svg/sprite-color.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageJpg(classPicture, name, classImg, alt, width, height) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.jpg" alt="{{ alt }}" class="{{ classImg }}" width="{{ width }}" height="{{ height }}">
</picture>
{% endmacro %}
{% macro imagePng(classPicture, name, classImg, alt, width, height) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.png" alt="{{ alt }}" class="{{ classImg }}" width="{{ width }}" height="{{ height }}">
</picture>
{% endmacro %}

{% block content %}

{% include "includes/header.html" %}

<main class="main">

  {% include "includes/question.html" %}
  {% include "includes/want.html" %}
  {% include "includes/offer.html" %}
  {% include "includes/about.html" %}
  {% include "includes/feedback.html" %}

</main>

{% include "includes/footer.html" %}

{% endblock %}