@include media-up(lg) {

    .payment-window {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: calc(50% - 200px);
        left: calc(50% - 300px);
        min-width: 600px;
        z-index: 4;
        background-color: var(--color-background);
        padding: 20px 20px 50px 20px;
        border-radius: 20px;
        box-shadow: var(--shadow-elevation-low);

        &__title {
            text-align: center;
            padding: 20px 0 0 0;
            font-size: 1.5em;
            color: var(--color-text);
        }

        &__title-link {
            text-decoration: none;
        }

        &__web {
            margin: 40px 0;
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
        }

        &__img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            box-shadow: var(--shadow-elevation-medium);
            border: 2px solid var(--color-background);
        }

        &__svg {
            width: 80px;
            height: 80px;
        }

        &__link {
            // min-width: 260px;
            width: 100%;
            font-size: 1.3em;
            display: none;
            // align-items: center;
            // justify-content: center;
            height: 100%;
            color: var(--color-background);
            text-decoration: none;
            // border: 1px solid red;
            border-radius: 10px;
            padding: 20px 40px;
            border: 2px solid var(--color-muted);
            background-color: var(--color-muted);
        }

        &__flex {
            display: flex;
        }

        &__link:hover {
            border: 2px solid var(--color-text);
            box-shadow: var(--shadow-elevation-high);
        }

        &__close {
            position: absolute;
            top: -15px;
            right: -15px;
            width: 40px;
            height: 40px;
            border-radius: 30%;
            background-color: var(--color-muted);
            border: none;
            border: 2px solid var(--color-muted);
            box-shadow: var(--shadow-elevation-low);
            cursor: pointer;
        }

        &__close:hover,
        &__close:focus {
            border: 2px solid var(--color-background);
        }

        &__close::after {
            position: absolute;
            content: "";
            z-index: 5;
            top: 16px;
            left: 5px;
            width: 28px;
            height: 4px;
            transform: rotate(-45deg);
            background-color: var(--color-background);
            transition-delay: 2s;
            transition: 2s;
        }

        &__close::before {
            position: absolute;
            content: "";
            z-index: 5;
            top: 16px;
            left: 5px;
            width: 28px;
            height: 4px;
            transform: rotate(45deg);
            background-color: var(--color-background);
            transition-delay: 2s;
            transition: 2s;
        }
    }

    .payment-window--show {
        display: flex;
    }

    .payment-window-cover {
        &--show {
            position: fixed;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(34, 32, 32, 0.459);
        }
    }

}

@include media-down(lg) {

    .payment-window {

        display: none;
        gap: var(--gap-midle);
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // transform: scale(0);
        width: 85vw;
        max-width: 400px;
        padding: 30px;
        z-index: 4;

        // transition: 50ms;
        background-color: var(--color-background);

        border-radius: 20px;
        box-shadow: var(--shadow-elevation-low);

        &__title {
            text-align: center;
            // padding: 20px 0 0 0;
            font-size: 1.3em;
            color: var(--color-text);
        }

        &__title-link {
            text-decoration: none;
        }

        &__web {
            // margin: 40px 0;
            display: flex;
            gap: var(--gap-smal);
            align-items: center;
            justify-content: center;
        }

        &__img {
            border-radius: 50%;
            width: 70px;
            height: 70px;
            box-shadow: var(--shadow-elevation-medium);
            border: 2px solid var(--color-background);
        }

        &__svg {
            width: 50px;
            height: 50px;
        }

        &__link {
            // min-width: 260px;
            width: 100%;
            font-size: 1.2em;
            display: none;
            // align-items: center;
            // justify-content: center;
            height: 100%;
            color: var(--color-background);
            text-decoration: none;
            // border: 1px solid red;
            border-radius: 10px;
            padding: 15px 20px;
            border: 2px solid var(--color-muted);
            background-color: var(--color-muted);
        }

        &__flex {
            display: flex;
        }

        &__link:hover {
            border: 2px solid var(--color-text);
            box-shadow: var(--shadow-elevation-high);
        }

        &__close {
            position: absolute;
            top: -10px;
            right: -10px;
            width: 40px;
            height: 40px;
            border-radius: 30%;
            background-color: var(--color-muted);
            border: none;
            border: 2px solid var(--color-muted);
            box-shadow: var(--shadow-elevation-low);
            cursor: pointer;
        }

        &__close:hover,
        &__close:focus {
            border: 2px solid var(--color-background);
        }

        &__close::after {
            position: absolute;
            content: "";
            z-index: 5;
            top: 16px;
            left: 5px;
            width: 28px;
            height: 4px;
            transform: rotate(-45deg);
            background-color: var(--color-background);
            transition-delay: 2s;
            transition: 2s;
        }

        &__close::before {
            position: absolute;
            content: "";
            z-index: 5;
            top: 16px;
            left: 5px;
            width: 28px;
            height: 4px;
            transform: rotate(45deg);
            background-color: var(--color-background);
            transition-delay: 2s;
            transition: 2s;
        }
    }

    .payment-window--show {
        display: flex;
        transition: 5ms;
    }

    .payment-window-cover {
        &--show {
            position: fixed;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(34, 32, 32, 0.459);
        }
    }

}